[2018-11-05 08:17] jblom opened #2 "As a CLARIAH service, I want to be able to harvest LD from the MS"
@jblom commented on [Thu Aug 30 2018](https://github.com/CLARIAH/wp5_mediasuite/issues/503)

[] make sure the infrastructure can export a selection of triples/quads to a dedicated space meant for harvesting
[] investigate what would be the selection criteria for isolating triples that need to be harvested
[] investigate what harvesting protocol/service is required for WP2 (and implement this)

[2018-11-05 08:24] jblom opened #3 "OAI2LOD solution with initial RDF Model + Schema (for B&G)"
The focus for this epic is to produce an initial schema for NISV that models the existing structure in RDF, and a dump of data converted to RDF using that schema. The model and data are intended for evaluation and experimentation.  Neither will be published yet

# Products
- [x] OAI(or other format)2LOD server deployed at data.rdlabs.beeldengeluid.nl
- [x] Data model created for use with RDF

# Ac

[2018-11-27 13:10] mwigham commented on #3
Should we perhaps split this up into smaller issues?  Both in the interests of making it achieveable within a sprint, and in the interests of quickly making LD available for us to play with.

[2018-11-27 14:04] jblom commented on #3
@mwigham sure, glad to take suggestions. Could you take part of this out and put it in a new story? Let me know, so we can both check it and put it in the backlog as two more achievable issues.

[2018-11-28 09:06] mwigham opened #4 "As a developer, I need to refine and publish the NISV RDF schema"
This issue builds on the initial model created in https://github.com/beeldengeluid/beng-lod-server/issues/3.  This model must be improved so it is suitable for publishing

# Tasks
- Specify explicitly which fields are attached to what GTAA controlled vocabulary ConceptScheme.
- Include field/resource type definitions.
- Look into possible ambiguity of the model. How to represent known rules to han

[2018-11-28 09:14] mwigham opened #5 "As a developer, I need to link the NISV RDF model to other schemas"
Such as: EBU core: https://tech.ebu.ch/MetadataEbuCore, schema.org (e.g. https://schema.org/BroadcastEvent), IPTC or other?

**Tasks**
- [ ] Consult with other parties with interesting data as to which schemas are useful
- [ ] Select a subset of schemas that have the highest priority for linking
- [ ] Determine how best to link the NISV schema to these schemas (owl:sameAs?, BBC core:sameAs? subpro

[2018-12-12 10:36] jblom commented on #3
@wmelder let's prune this story to only talk about the deployment

[2019-01-14 09:48] mwigham commented on #5
Initial overview of available ontologies here https://docs.google.com/document/d/1I9XRgPhyO_b-HbLGKrRjgQahEsc4F35yj7h1iPFaBco/edit?usp=sharing

[2019-01-17 15:20] jblom commented on #3
@mwigham @wmelder I've converted this issue into an epic. Now I'm going to write a story about the deployment for myself (register data.rdlabs.beeldengeluid.nl + hook it up to puppet for deployment)

[2019-01-17 15:25] jblom opened #6 "As a devOps, I need to organise the deployment the B&G LOD server on data.rdlabs.beeldengeluid.nl"
**Acceptance criteria**
- [x] register data.rdlabs.beeldengeluid.nl
- [x] automate the deployment of the B&G LOD server with Puppet
- [x] link the new domain to the automatically deployed instance of the B&G LOD server

[2019-01-17 15:35] jblom commented on #6
@wmelder @mwigham I've made a call for creating the data.rdlabs.beeldengeluid.nl DNS record, so we have it available for next sprint

[2019-01-18 13:33] mwigham opened #7 "EPIC: Linked data sandbox"
The aim of this epic is to make the iMMIx version of the NISV archive available as a linked data source for internal experimentation.

Main goals:
- "proper" schema
- dereferenceable resources (within the beng network)
- Data is in triplestore and is searchable via a SPARQL endpoint (within the beng network)
- Data is available via the Media Suite Search API (in the test environment) (NB: The data

[2019-01-18 13:37] mwigham opened #8 "As a developer, I want to create an initial RDF schema for NISV data"
- [x] Generate RDF data from ES with an initial rough mapping
- [x] Upload this to Cliopatria and generate an initial schema
- [x] Refine this schema in Protege
- create superclasses to allow us to define domains for properties used by more than one class
- merge classes where possible and scrap classes containing only one property
- specify Literals as strings or numbers
- correct errors
- [x] ch

[2019-01-18 13:40] mwigham opened #9 "As a user of the RDF schema, I want it to have meaningful, consistent names"
Change the property and class names to have a consistent format (camelcase, dashes etc.), to use verbs for properties and singular for class names, and to be meaningful

Acceptance criteria
- [x] names use cases and punctuation in a consistent way
- [x] names are distinct from each other (e.g. not sequencenumber and sequenceNr)
- [x] names help the user to understand the meaning of the metadata fi

[2019-01-18 13:42] mwigham opened #10 "As a user of the NISV RDF schema, I want to understand the meaning of the properties"
- [x] Translate the existing metadata dictionary comments to English
- [x] Create comments for the classes and add to the metadata dictionary
- [x] Add these class comments manually to the schema
- [ ] Add user-friendly labels to all the properties in the metadata dictionary

An automatic update process to allow all the content of the metadata dictionary to be written to the schema will be tackled

[2019-01-18 13:45] mwigham opened #11 "As as developer, I want to link the NISV RDF schema to the GTAA thesaurus"
- [x] decide how to model the GTAA concepts and their relationship to their schema ('as') so that it is clear for  each property and class in the RDF schema how it is related to the GTAA, and we can later use this information in reasoning and linking (e.g. finding the most frequently occurring persons in the archive)
- [ ] create a new version of the RDF schema that uses the GTAA

[2019-01-18 13:46] mwigham opened #12 "As a developer, I want to generate RDF data for the NISV archive that uses the GTAA thesaurus terms"
The goal of this story is to adapt the code for generating RDF data to show the values of the metadata fields as GTAA concepts

**Acceptance criteria**
- [ ] implement a method/approach for matching & mapping metadata fields to GTAA concepts
- [ ] implement a statistic for the completeness of the resulting mapped GTAA concepts

[2019-01-18 13:47] mwigham commented on #11
do we create an RDFS version of the GTAA, with schemes as classes and concept as instances, and then use the schema classes as ranges (also has the advantage that we could use the ‘is a’ relationship to help search for values of a certain type, e.g. all people related to a programme: <programmeId> ?property ?value . ?value is a gtaa:Person)? Or another way? E.g. to create superclasses in the schem

[2019-01-18 13:48] mwigham opened #13 "As a developer, I want the NISV RDF schema to reflect the new DAAN model"
Adapt the RDF schema to reflect the new DAAN model, where that is useful for users of linked data

**Acceptance criteria**
- [x] make sure to setup a web representation that can be easily updated for frequent demoing sharing with colleagues that can provide relevant input
- [x] ensure that the model remains concise and avoid meaningless layers/relations that have no meaning to a user; keep user/sy

[2019-01-18 13:49] mwigham opened #14 "As a publisher of NISV RDF data for external parties, I want it to use unique, persistent identifiers that use a namespace that reflects the identity of NISV"
Internally for test purposes, we can use identifiers that are simply a namespace of our choice plus the program identifier. Once we publish the data, those identifiers should be globally unique, persistent, and use a namespace that makes it clear that the data is from NISV, preferably also that is consistent with how URLs are constructed for other uses by NISV. We have also previously discussed th

[2019-01-18 13:52] mwigham opened #15 "As a developer, I want to test out possible mappings with other ontologies"
- [ ] choose some interesting ontologies for mapping (see [document](https://docs.google.com/document/d/1I9XRgPhyO_b-HbLGKrRjgQahEsc4F35yj7h1iPFaBco/edit)
- [ ] For a number of example archive objects, map them to these ontologies and generate RDF data
- [ ] review the generated data to identify issues
- [ ] implement a minimalistic, but useful HTML page that makes identifying pros/cons of each ma

[2019-01-18 13:55] mwigham opened #16 "EPIC: LD importing pipeline connected with DAAN data"
After or during https://github.com/beeldengeluid/x-omgeving/issues/44 we should think about how to update the linked data pipeline, so it will be connected to the live DAAN data.

See [LOD pipeline](https://github.com/beeldengeluid/beng-lod-server/wiki/LOD-pipeline) in wiki for more details

**Context: current pipeline**
The current pipeline reads from the old OAI-PMH, uses XSLT to transform the d

[2019-01-18 13:57] mwigham opened #17 "As a publisher of NISV RDF data and schema, I need to have a strategy for handling updates"
Changes to the data structure, as well as the deletion/update of individual archive objects

[2019-01-18 14:06] mwigham opened #18 "As a developer, I need to test the RDF generated by our initial OAI2LOD solution"
- [x] Install OAI2LOD locally on mwigham's machine
- [x] Review the RDF generated by the [OAI2LOD](https://github.com/beeldengeluid/beng-lod-server/issues/3) for a number of example archive objects
- [x] Make sure we have rdf Properties or Classes for all necessary elements from the bg namespace.
- [x] make sure the transformations from XML2RDF are correct and complete.
- [x] Discuss the differenc

[2019-01-18 14:14] mwigham commented on #8
Look into personNames and names, how are we going to model these in a sensible and meaningful way? (without going so far as already doing the GTAA link)
Errors: isPartOf is incorrectly being modelled as a class instead of a property (needs a correction in the generating code), museum-names, museum-locations and museum-personnames are missing (probably not in data sample)

[2019-01-18 14:21] mwigham opened #19 "As a Linked Data user, I want to get the maximum use of information contained in the transcript field"
Recognised speakers, faces, places etc. are included in the transcripts as labels. These would be more usable if they were modelled as explicit metadata - now don't even know that these are people, locations etc. It would also be useful to split the transcripts up according to if they contain manual text or recognised entities.

[2019-01-18 14:23] mwigham opened #20 "As a Linked Data user, I would like aggregated data so I don't have to decide how to handle inherited metadata"
If metadata is separate at series, season, programme and scene description (segment) levels, then the user o the data has to decide for themselves how they combine e.g. genres at series level with genres at programme level. It could be useful to users if we generate an aggregated version, using our archival expertise to make these choices.

This work should be aligned with #16 and thus #13

[2019-01-18 15:16] mwigham commented on #8
Schema under development is [here](https://github.com/beeldengeluid/beng-triples/blob/schema-development/testSchema.ttl)

[2019-01-21 09:12] mwigham commented on #18
Errors: isPartOf is incorrectly being modelled as a class instead of a property

[2019-01-21 12:57] mwigham commented on #8
Not sure what is best for review here, as properly reviewing this schema is the subject of a couple more issues. @wmelder , could you perhaps check it out and confirm it is readable please?

[2019-01-21 13:01] mwigham commented on #9
sequencenumber is used in three different places at present in 3 different forms - @sequencenumber for a transcript, sequenceNr for ASR, and sequencenumber for segments and carriers. The other trnascript property names could also do with being distinguished from similarly named properties for other objects (e.g. @rights)

[2019-01-21 14:18] jblom commented on #6
@mwigham @wmelder so this is done, check http://data.rdlabs.beeldengeluid.nl/.

I'll forward you both how to deploy this thing. It should be super easy

[2019-01-21 14:19] jblom commented on #6
@wmelder @mwigham I'd say no review is needed for this, so I'm closing this right away

[2019-01-21 14:19] #6 closed

[2019-01-22 09:42] jblom commented on #10
@mwigham can't this not be simply expressed (and edited) in triples? The end-result would be a bunch of queries that can update the descriptions. In the accompanying documentation you can publish the queries + a link to the SPARLQ editor or something. What do you think?

[2019-01-22 09:54] mwigham commented on #10
Certainly possible, I'd just assumed people would be more comfortable with an Excel.

[2019-01-22 09:59] jblom commented on #12
@wmelder @mwigham please check the acceptance criteria again. Anyway I've put this in the backlog, but at the very bottom, since it is not required for V4. (the backlog from now on reflects the work that should be done for V4. The rest is put in the icebox brrr)

[2019-01-22 10:03] jblom commented on #11
@wmelder @mwigham also added this to the backlog, but to the bottom for now (not vital for v4, but nice to start working on whenever possible).

[2019-01-22 10:17] jblom commented on #13
@mwigham @wmelder also in backlog with added acceptance criteria. Please refine as you see fit

[2019-01-22 10:23] jblom commented on #15
@mwigham @wmelder Put this one in the icebox, since I'd say the base B&G schema is more important as a first LD practice.

[2019-01-22 10:31] jblom commented on #17
@mwigham this one needs to be refined. For now it's in the icebox and I've assigned "importing WM" and "data cleaner JW"

[2019-01-22 10:34] jblom commented on #19
@mwigham a bit too vague and quite far from must-have at this moment. Put it in the icebox, so we can work out the criteria better at a later time (if you agree)

[2019-01-22 10:39] jblom commented on #20
@mwigham @wmelder we should think about whether we will go for a less user friendly (but more closer to the original DAAN model) LD version first or right away aim for the super user friendly aggregated model/variant from the start.

I'd say: start easy & close the loop with the more rigid DAAN-like model. Then work on a nice aggregation model. Do you agree?

[2019-01-22 10:41] jblom commented on #18
@mwigham could you explain a bit more what you intend for this story?

[2019-01-22 10:42] jblom commented on #8
@mwigham nice to see this progresssss: also want to review this myself in the next sprint

[2019-01-22 10:49] mwigham commented on #20
Definitely agree. I think we won't even discover what is needed for the super user friendly version until we first get some people trying to use our data.

[2019-01-22 10:51] jblom commented on #9
@mwigham whenever working on this, please add acceptance criteria that specifically mention all of these formatting issues

[2019-01-22 10:54] jblom commented on #10
so the Excel could be occasionally updated via a script that queries the triplestore. I assume you don't want users to update these descriptions right?

[2019-01-22 11:44] mwigham commented on #10
The Excel wouldn't be for users, but for NISV to input and edit the descriptions. It would be nice if we have just one source of descriptions for both the Media Suite and the RDF schema.

[2019-01-22 12:40] mwigham commented on #18
@jblom  This is the next step in developing the schema, testing generating data with the schema to see if it produces RDF that properly describes the concepts.

[2019-01-22 16:18] jblom commented on #14
@mwigham please put this as acceptance criterium in the story for creating the basic DAAN RDF. I'd say it's part of the basics of triple creation. If you agree please close this one

[2019-01-23 08:50] mwigham commented on #14
Unique identifiers is part of the basics of triple creation, but choosing how we will create our NISV identifiers for external published linked data is another matter, as Willem mentioned in our discussion recently. That's why I have it as a separate issue, albeit one that we don't need to tackle until we're ready to publish externally.

[2019-01-24 10:40] wmelder commented on #8
Inital commit of the LOD server is done, work from the beng-triples solution with added to this repository and after inital deployment we will stepwise refine our schema here.

[2019-01-24 10:40] #8 closed

[2019-02-01 07:30] mwigham commented on #3
moved some tasks to the #18 issue as they are related to testing the results

[2019-02-04 06:13] jblom commented on #3
@mwigham ok check. Also I removed the "Help: requirements needed" label on both issues, since they are already in progress. As a reminder (to myself as well), please check if the requirements are clear before working on a story and/or remove the label if things are already well defined.

[2019-02-07 08:34] mwigham commented on #3
For how to use the Linked data server, see https://github.com/beeldengeluid/beng-lod-server/wiki/OAI2LOD-server-Beeld-en-Geluid

[2019-02-07 08:48] mwigham commented on #3
First attempt at some layperson-friendly documentation is on https://github.com/beeldengeluid/beng-lod-server/wiki  - please improve

[2019-02-08 13:27] jblom commented on #3
@mwigham a nice start for humanssss. Can't wait to implement the initial HTML representations of our wonderful schemafied data to please the layhomosapiens even more.

[2019-02-08 14:09] mwigham commented on #3
I've added inverse properties to the schema, but not for carrier, as carriers are going to be blank nodes. It seems to me that we only want inverse properties when the original property points to a class that has a URI. Alternative points of view welcome!

[2019-02-11 08:06] jblom commented on #3
@mwigham not sure what inverse properties you use (parent/child?), but I'm not sure if using these is desired? Also what is the reason for adding inverse properties? Could you give an example?

What do you think of this? http://richard.cyganiak.de/blog/2006/06/an-rdf-design-pattern-inverse-property-labels/

[2019-02-11 08:25] mwigham commented on #3
The only reason would be to make it easy to navigate between entities that are linked in the other direction, e.g. from information about a series to information about the episode. Depending on what we actually do with the RDF in the end, we may not need the inverse properties, in which case we should definitely remove them - I agree with the post about avoiding clutter. The inverse labels would b

[2019-02-11 08:31] jblom commented on #3
@mwigham ok clear. I think it depends a bit on the application if we need them. How about separating the inverse properties in a tiny add-on schema? Also when we are ready to put them in the triple store: we could simply store inverse properties in a separate graph, so we can compare disk space, performance very straighforward?

[2019-02-11 08:37] mwigham commented on #3
I like the idea, keeps it nice and clear.

[2019-02-11 08:44] jblom commented on #3
cool, in that case we can also think of other "smart" or generated (transitive) properties and try them out separate from the "core" as well. If we find that an inverse or whatever additional property is really useful, we can simply put it in the core.

[2019-02-15 10:49] mwigham commented on #9
I have a first set of suggested names in the latest version of the schema.

In a branch, I have adapted the [XSLT ](https://github.com/beeldengeluid/beng-lod-server/blob/lod-handler-development-mari/resource/nisv-bg-oai2lod-v01.xsl) with some rules for renaming, and written [code ](https://github.com/beeldengeluid/beng-lod-server/blob/lod-handler-development-mari/src/apis/lod/LODHandler.py) to cha

[2019-02-21 06:38] jblom commented on #3
@wmelder @mwigham could you please update this story? Either make it ready for review/QA or update the milestone in case you still need to work on this (in which case. Please comment on what still needs to be done for this story to be finished)

[2019-02-21 08:35] mwigham commented on #10
This issue is now purely about making sure we have comments for all properties and classes. How we then update these with new versions will be tackled in a separate issue

[2019-02-21 08:35] jblom opened #21 "As a B&G archivist, I want to be able to easily update names & comments in the B&G RDF schema"
**Acceptance criteria**
- [ ] keep a log of all the changes, so it's easy to follow what properties changed (in case we want to regenerate the triples based on the up-to-date schema)
- [ ] Define an Excel sheet that serves as input for the script that translates this to a new schema
- [ ] Of course implement the script that uses the Excel sheet to generate the new Schema
- [ ] TODO

**Challenge**

[2019-02-21 08:54] mwigham commented on #9
For review, please check the following:
- [ ] All property names use lower camel case (so start with a lowercase letter, and use an uppercase letter for the beginning of each new word, e.g. hasStartOnCarrier)
- [ ] Property names do not contain any punctuation such as @ or -
- [ ] All class names use upper camel case (so start with an uppercase letter, and use an uppercase letter for the beginning

[2019-02-21 15:34] wmelder commented on #3
@mari alles gefixed, please test
- [ ] all issues fixed

[2019-02-25 10:45] mwigham commented on #18
@jblom can you test this please?

- [ ] Make a selection of series, seasons, programmes and segment IDs
- [ ] Enter these in the [lod server](http://data.rdlabs.beeldengeluid.nl/) and in the Elastic Search cluster, and compare the metadata in the generated RDF to that in the ES cluster
- [ ] For major issues (e.g. server crashes, item not found, metadata value is incorrect) put this issue back int

[2019-02-25 10:49] mwigham opened #22 "As a developer, I need to fix errors in how the LD is generated from the OAI-PMH that prevent us from testing out use cases"
For the problems listed here, we need to consider whether they prevent us from testing the use cases we want to try out for LD. If so, then we need to solve them in this issue. If not, then they can be postponed, as the move to DAAN will require changes to the mapping anyway, and these issues can then be included in that (for as far as they are still relevant to the new metadata model).

Problems:

[2019-02-25 14:31] mwigham opened #23 "As a developer, I need to upload generated RDF data to a triple store"
- [x] Data generated from OAI-PMH, including blank nodes, is available in a triple store with API for SPARQL queries available
- [x] on completion, notify the @jblom so he can also hook up the search API to the SPARQL end-point (and test out grlc as well)

[2019-02-25 14:35] mwigham commented on #3
Moved triplestore upload to [this issue](https://github.com/beeldengeluid/beng-lod-server/issues/23)
This issue is now complete, QA should be done by the tests in [this issue](https://github.com/beeldengeluid/beng-lod-server/issues/18)

[2019-02-25 15:00] jblom commented on #18
Some initial remarks when comparing program 128480:
- **depreactedKeyword** & **keywords** are merged into **schema:keyword**. Seems fine, but curious to hear the reason for this choice.
- **datestamp** (from ES) is not in the schema (but rightfully so I guess, since it's an importer date?)
- **bg:contest.bg:colour** is mapped to (predicate) **hasContext** pointing to a blank node of the **class C

[2019-02-25 15:11] jblom commented on #18
Remark when comparing season 67000 (part of program 128480):
- **genres** and **museum-genres** are merged into **schema:genre**. Is there a good reason for this? For now this solution makes it impossible to distinguish the two in the LD

[2019-02-25 16:07] jblom commented on #18
Remark when comparing program 5356704:
- the LD version has a **schema:qualification** (with an empty string) while this information is not in the ES data
- **bg:transcripts** (in ES) are as expected not in the LD version

Remark when comparing season 439304 (part of said program):
- I don't see a **schema:isPartOfSeries** (pointing to series 379721)
- the program (5356704) does show a **schema:is

[2019-02-25 16:08] jblom commented on #18
@mwigham please judge yourself if this issue needs to be put in TODO. To me it seems things are mostly as expected. The only thing that could be a problem is the missing isPartOfSeason (see previous comment)

[2019-02-26 08:58] jblom commented on #3
@mwigham @wmelder I've done the QA via the tests mentioned in issue #18

Closing this one, to avoid duplicity

[2019-02-26 08:58] #3 closed

[2019-02-26 09:16] jblom commented on #9
Found many inconsistencies (unless I'm overlooking something?):
- **schema:layer__asr** and **rdfs:range schema:Layer__asr** contains punctuation and does not follow the lower/upper camel case rule
- **rdfs:range schema:Originalcreator** is not upper camel case
- a LOT of property names do not follow the lower camel case & punctuation rules e.g. **carrier-annotation**, **datereceived**, **depotsta

[2019-02-26 12:14] mwigham commented on #9
Ah, I think you are looking in the LOD output?  That is not yet updated to be fully compatible with the schema. The schema is [here](https://github.com/beeldengeluid/beng-lod-server/blob/master/resource/bengSchema.ttl)

[2019-02-26 12:30] mwigham commented on #9
oops, wrong branch.  The most up-to-date schema is [here](https://github.com/beeldengeluid/beng-lod-server/blob/lod-schema-development-mari/resource/bengSchema.ttl).  We had agreed not yet to implement this in the LOD handler and to wait for DAAN, see comment higher up, that is why it is in its own branch.

[2019-02-26 12:45] jblom commented on #9
That explains it! :-D Ok here's the new list of "wrong" entries:
- rdfs:range schema:Originalcreator (and in the Class schema:Originalcreator)
- rdfs:range schema:Productioncountry
- schema:hasStartTimestamp has a xsd:string: is this ok?
- same for schema:hasWeekNumber: is this ok?

[2019-02-26 15:31] mwigham commented on #9
Thanks - have corrected the camelcase issues. Regarding the datatypes, I based my choice on the field type in Elastic Search, and there those two fields are both text fields. Of course, that doesn't stop us 'improving' and choosing to make them both long, if we are sure their values are always numerical.

[2019-02-26 15:38] jblom commented on #9
@mwigham yup thought so and I agree. For now the issue seems done, so I'll just close it

[2019-02-26 15:38] #9 closed

[2019-02-27 09:36] mwigham commented on #18
@jblom @wmelder  Thanks for testing, Jaap. I think we should close this issue. I will copy Jaap's test findings to #22 and we can decide there which ones block further experimentation and so need to be solved now, and which we will pick up when we change the mapping for DAAN.

[2019-02-27 09:41] mwigham commented on #18
@jblom, by the way, Context does indeed possess a property about colour, along with other things such as award and occasion.  It is a bit of an odd class - perhaps a good example of something we can improve on later (if DAAN hasn't already tackled it).

[2019-02-27 09:53] jblom commented on #18
@mwigham @wmelder ok cool, closing this one then

[2019-02-27 09:53] #18 closed

[2019-03-06 09:44] jblom opened #24 "as a developer, I need to add unit tests to the B&G lod server, so it's easier to detect bugs on future updates"
**Acceptance criteria**:
- [x] update the code, so there is consistent error handling with meaningful error messages/codes
- [x] add unit tests (e.g. test if desired output format is returned)
- [x] add bash script that can be attached to your local git pre-commit hook

[2019-03-06 10:48] mwigham commented on #21
@jblom @jwassenaarbg I've added updating the MS labels too as these are closely linked with each other - we need to decide if we keep them in the same issue or not

[2019-03-06 10:54] jblom opened #25 "As a LD dev, I want to populate a triple store via SPARQL update, so I can easily sync the B&G LOD server with the triple store"

[2019-03-06 14:12] jblom commented on #21
@mwigham @jwassenaarbg we should have a nice white board session for this one after https://github.com/beeldengeluid/labo-components/issues/306 is finished

[2019-03-15 08:50] wmelder commented on #25
@mwigham ... er zijn twee LOD endpoints:
Cliopatria: http://zorin.beeldengeluid.nl:3020
Virtuoso/:http://zorin.beeldengeluid.nl:8899
De eerste heeft al wat data, maar ik heb nog niet het schema in de juiste prefix.Je kunt er al wel even rondkijken.
De tweede lijkt nog wat problemen te hebben met de sparql update.
Voor beide werk ik nu aan het uploaden direct van de OAIPMH via sparql update.
De nam

[2019-03-15 08:59] wmelder commented on #25
Je kunt de yasqui query editor gebruiken:
Deze query werkt bijvoorbeeld:

[2019-03-15 09:00] jblom commented on #25
@wmelder cool! I was already doubting if I should implement something "quick" for spinning up that container for @mwigham, but it seems you'll have some triples to query very soon? :-)

Oh yeah could you also check out my PR #26 ? I added sweet unit testsssss + that URL param for convenient testing (Accept type is used by "proper clients" I guess).

[2019-03-15 09:06] jblom commented on #25
@wmelder de vishaken mistte in je query:

[code]

En dit werk nu enkel op de cliopatria toch?

[2019-03-15 09:46] wmelder commented on #25
ja, iets meer resultaten met schema:hasMainTitle...
maar wat je ziet is dat op een of andere manier alle data onder één resource is terecht gekomen..
moeten we toch weer even uitzoeken helaas...

[2019-03-15 10:01] wmelder commented on #25
now data in the named graph is overwritten, while trying to load the schema in the named graph... ;-P
will fix it later..

[2019-03-15 12:28] wmelder commented on #25
lijkt er op dat als je turtle serialization draait dat ie dan geen unieke blank node id's aanmaakt.  :-1:

[2019-03-15 13:10] mwigham commented on #25
laat me het weten als ik iets kan doen om hiermee te helpen

[2019-03-15 13:14] wmelder commented on #25
het lijkt er op dat cliopatira slechts één blank node id aanmaakt... de tweede keer dat ik dezelfde data laad wordt er weer ééntje aangemaakt _:genid1 en _:genid2

[2019-03-15 13:19] mwigham commented on #25
Waarom is het Cliopatria die de nodes aanmaakt? Doe je niks meer met de XLST om RDF te maken?

[2019-03-15 13:44] wmelder commented on #25
vanuit de graph (gevuld via OAIPMH/XSLT) doe serialilze in Turtle. Dan verdwijnen de blank node ID's, maar de Turtle syntax bevat [ ] die aangeven dat het om een blank node gaat. Omdat je naar de target graph laadt moet de rdf store zorgen dat er geen dubbele blank nodes in dezelfde graph staan. Cliopatria zou dus voor iedere resource met blank node id een unieke id aan moeten maken.

[2019-03-15 13:46] wmelder commented on #25
as described in this document: https://www.w3.org/TR/turtle/#BNodes

[2019-03-15 13:54] mwigham commented on #25
Ok, ik snap het. Als je al blank node IDs hebt, is het misschien een optie om de blank node label Turtle syntax te gebruiken? (alinea 2.6 in jouw link)

[2019-03-15 13:58] wmelder commented on #25
de json-ld serializatie heeft die id's wel, maar ik gebruik nou juist turtle omdat die ze zo mooi verbergt..
ik zal eens kijken of sparql andere formaten aan kan, waar de id's wel expliciet in staan. maar dan nog: de rdf store is in charge om blank node id's te managen...

[2019-03-15 13:59] wmelder commented on #25
PS virtuoso gaat ook lekker:
Virtuoso 42000 Error SR186:SECURITY: No permission to execute procedure DB.DBA.SPARQL_INSERT_CTOR_ACC with user ID 107, group ID 107
geen permissie :-1:

[2019-03-15 14:05] mwigham commented on #25
SPARQL kan diverse andere formaten aan, maar je kunt ook al in turtle de blank node labels aangeven, dan hoort de triple store per unieke label een unieke ID te geven (dat is de theorie ;) )

[2019-03-15 14:08] wmelder commented on #25
zo te zien is de sparql syntax onafhankelijk van de return formaten, maar lijkt het wel verdomd veel op turtle. vandaar de keuze. En blank nodes zou je dus in theorie niet expliciet hoeven mee te geven. https://www.w3.org/TR/2013/REC-sparql11-query-20130321/#sparqlSyntax
Echter, ik ben bang dat de INSERT DATA constructie via sparql/update dermate uniek is dat ClioPatria daar niet geheel op ingeric

[2019-03-15 14:10] wmelder commented on #25
uit 4.1.4: Blank nodes are indicated by either the label form, such as "_:abc", or the abbreviated form "[]".

[2019-03-15 14:12] wmelder commented on #25
damn: https://www.w3.org/TR/2013/REC-sparql11-query-20130321/#grammarBNodes

Blank nodes can not be used in:

in a SPARQL Update request.

[2019-03-15 14:15] mwigham commented on #25
Maar dat gaat toch alleen om DELETE?  Of lees ik het verkeerd?

[2019-03-15 14:17] wmelder commented on #25
oh ja, je leest het goed

[2019-03-15 14:20] wmelder commented on #25
ha, jacco van ossenbruggen en jan wielemaker buigen zich er ook al over .. :+1:

[2019-03-15 17:16] wmelder commented on #25
de virtuoso rdf store wordt nu volgeladen direct vanaf de oaipmh...
helaas is de query editor niet zo fijn als die van cliopatira, maar in ieder geval genereert ie nu blank nodes.. er kan gesparqled worden!

[2019-03-15 17:30] jblom commented on #25
@wmelder joehoe!!!

[2019-03-18 06:13] mwigham commented on #25
@wmelder fantastisch!  Nog een reden voor mij om snel beter te worden, dan kan ik het uitproberen

[2019-03-18 06:53] jblom commented on #24
**Note**: rewrote this issue, since it was no longer necessary to export the LD to turtle files. @wmelder already took care of this in #25 .

Instead this story reflects the work I did, which is adding unit tests & changing the code to have consistent error messages etc

[2019-03-18 07:24] jblom commented on #24
@wmelder (@mwigham if you're interested/willing to test as well) this story is ready for review. Here's the test plan:
- [ ] check out the branch for PR #26
- [ ] make sure to pip install the requirements.txt again (added pytest & mockito)
- [ ] update your settings.py with the params from settings-example.py
- [ ] check if your local server still works as expected
- [ ] run src/tests/unit-tests/u

[2019-03-18 09:31] wmelder commented on #25
https://github.com/jrvosse/ClioPatriaDocker/issues/1
Voor cliopatria wachten op fix. Victor heeft de fout kunnen reproduceren. Jacco en Victor hebben Jan gevraagd om oplossing. Jan gaat er volgende week naar kijken.
Voor virtuoso zit er wat data in maar de importer is er op een fout in de transformatie uitgeknald.
- [ ] fix the XSLT for title

[2019-03-20 10:03] jblom commented on #25
Note: TODO:
- [ ] fix the XSLT for title
- [ ] still need to upload all the data in both stores (Virtuoso, Cliopatria)
- [ ] @jwassenaarbg can review the code
- [ ] update the data book
- [ ] add a useful entry in the wiki

[2019-03-20 15:01] #24 closed

[2019-04-01 07:37] wmelder commented on #25
found out cliopatria is not loading all the classes right. it seems carriers are attached to the wrong programs and the totals for program, seasons, etc. don't increase while loading... really weird. will create issue at cliopatria docker. in the meantime I switch back to loading virtuoso.

[2019-04-01 08:07] jblom commented on #25
hmm wow, sounds pretty confusing. Curious to see what their answer to your issue report is.

[2019-04-01 08:43] wmelder commented on #25
yeah, weird... small load on virtuoso shows completely different statistics:

type | callret-1
-- | --
http://data.rdlabs.beeldengeluid.nl/schema/Publication | 389
http://data.rdlabs.beeldengeluid.nl/schema/Season | 125
http://data.rdlabs.beeldengeluid.nl/schema/Carrier | 3560
http://data.rdlabs.beeldengeluid.nl/schema/Productioncountry | 124
http://data.rdlabs.beeldengeluid.nl/schema/Recording |

[2019-04-08 07:07] wmelder commented on #25
- ISSUE: possibly the size of the update query is too big ... the cliopatria server shows unexpected results, the virtuoso one returns a error message that the query is too big...
- SOLUTION: instead of loading 24 records at the same time using listrecords, I will rather try to load just 1 record at a time. For that, I need to query for listIdentifiers and then for each identifier getrecord... Alt

[2019-04-08 07:12] wmelder commented on #25
still working on these:
- [ ]  still need to upload all the data in both stores (Virtuoso, Cliopatria)
- [ ] @jwassenaarbg can review the code
- [ ] update the data book
- [ ] add a useful entry in the wiki

[2019-04-10 16:44] jrvosse commented on #25
Hi Willem, all,

I still have the feeling your weird statistics are related to either an error in your data or to a bug in our sparql update implementation that is triggered by the use of the INSERT DATA statement.  We routinely load up to 50M-100M triples in cliopatria directly without problems. Did you try to load the RDF directly without using sparql update? Direct loading of all kind of weird

[2019-04-11 08:32] wmelder commented on #25
- [ ] prepare rdf files for INSERT DATA
- [ ] load in cliopatria
- [ ] compare statistics

[2019-04-12 11:50] wmelder commented on #25
it was indeed an error in our data. Thanks for posting your remark. It was a nice trigger to investigate the 'load local file' option, which gave us the proper error message.

[2019-04-17 08:09] wmelder commented on #25
170M triples and counting...

[2019-04-17 11:48] jblom commented on #10
@mwigham assigned this story to the new sprint, so it can be properly finalised there

[2019-04-17 11:53] wmelder opened #27 "As data engineer I need to load NISV on Virtuoso triple store"
done:
- [x] load the data in Cliopatria (running, 471,446,993 triples in total)
- [x] inspect the zorin server for resources absorbed by cliopatria. Docker supports a [command](https://docs.docker.com/engine/reference/commandline/stats/) for statistics on the container resources:
When the Graph is clicked on Cliopatria (and the browse/list_classes part of the API is called), `docker stats reverent

[2019-04-17 11:55] wmelder commented on #25
to be continued in story #27

[2019-04-17 11:55] #25 closed

[2019-04-17 11:58] wmelder commented on #22
This issue can be postponed, because we are already testing the current triple store using the latest version of the schema.

[2019-04-17 12:21] wmelder opened #28 "As a LD user I need to experiment with queries to be able to gather requirements for future development"
In the shared document linked data use cases* we collect and discuss queries that are relevant to either the nature of the data (statistics, etc) and meaningful for users (e.g. can search for people using (part of) their name.
From experimenting with the queries we learn and distill requirements (either about the data or the data model/scheme). These requirements will be put in a document so we ca

[2019-04-17 12:33] wmelder opened #29 "As LD engineer I need to experiment with the use of subproperties for querying Person and Place information"
The aim of this issue is to evaluate the use of isSubPropertyOf in queries to find all Person (or Place) information about a programme in one query. As all person-related properties (e.g. hasSpeaker, hasCrew) inherit from the same property, it should be possible to specify in the query that we want to find all objects that are linked to the programme by a subproperty of that property, thereby gett

[2019-04-17 12:36] jblom commented on #29
@mwigham @wmelder could you provide some examples in the description? This makes the purpose easier to understand

[2019-04-17 12:59] wmelder opened #30 "As LD engineer I need to load the GTAA in the RDF store to improve the NISV data"
Based on the GTAA data from the beng-lod-server, there needs to be a named graph with the GTAA data.
- [x] provide GTAA linked data on the beng-lod-server (redirecting to the openskos server OAI-PMH)
- [x] load the GTAA data in named graph

[2019-04-23 20:05] wmelder commented on #23
@jblom just a notification that the cliopatria triple store is loaded...
this issue is not in the current sprint, but blabla... just close it. ;-)

[2019-04-23 20:05] #23 closed

[2019-04-23 20:12] wmelder commented on #10
I would suggest to represent the schema in HTML for humans, including human readable labels and basic, but awesome styling.

[2019-04-24 06:11] jblom commented on #10
@wmelder @mwigham yeah I would also prefer showing & editing via a clean & simple HTML page. Much easier to maintain and close to the web, which LD is all about. I'm sure there are already solutions for this (Rob de Zeeuw from Meertens was working on something like this), but it should be quite simple to setup a page like this ourselves.

[2019-04-25 06:58] mwigham commented on #10
@lilimelgar are the labels complete now? If so, we can close this issue

@jblom @wmelder Good idea to have the schema in a HTML representation, I'll create an issue for that. I'm less convinced we should perform all edits in this representation, but it's open for discussion

[2019-04-25 07:00] mwigham opened #31 "As a schema user and provider, I want the schema to be available in a HTML representation"
This should show the schema in a simple way, with decent styling. Editing should also be possible. This issue is a result of a comment in https://github.com/beeldengeluid/beng-lod-server/issues/10

**Acceptance criteria**
- [ ] basically turn [this](http://data.rdlabs.beeldengeluid.nl/schema) into [this](https://schema.org/AudioObject)
- [ ] the HTML markup should contain RDFa attributes (see [thi

[2019-04-25 07:00] mwigham commented on #31
We need to discuss the extent to which editing should be possible in the HTML representation, and how that would work in conjunction with possible other editing methods

[2019-04-26 10:10] jblom commented on #31
@mwigham thanks for reporting this one. We'll have to finetune it in the backlog later on (also with @wmelder )

[2019-04-26 11:09] wmelder commented on #31
for inspiration look at the way DCMI and schema.org are publishing their data models...

[2019-04-30 08:32] mwigham commented on #29
This will need to wait until we have the next version of the data; at present we don't have all the person objects correctly mapped.

[2019-05-08 07:53] mwigham commented on #28
@wmelder can you review this please?

[2019-05-08 09:58] jblom commented on #22
@wmelder @mwigham please split this one up in achievable stories for (this) and/or other sprints

[2019-05-08 10:56] mwigham commented on #21
look at how to reuse Johannes work on updating the MS labels from CKAN here.

[2019-05-08 18:32] mwigham opened #32 "As LD engineer, I want to create an initial test version of a grlc API for our linked data"
We can currently query the data via the SPARQL endpoints. An API would be more broadly accessible, and easier (?) for us to integrate in the Media Suite. We will set up an initial test version of a grlc API, that can carry out at least one SPARQL query on our linked data

[2019-05-09 12:25] wmelder commented on #31
no editing should be possible... it is a document for consultation only, not editing.
editing the schema should be done in a text editor, representation as HTML should be generated automatically, so it can be consumed by humans ..

[2019-05-10 13:31] mwigham commented on #21
After discussion with Willem, we have decided that the schema should not use the same fields as the Media Suite. The schema should describe what the data is from the NISV point of view (and following RDF conventions), whereas the Media Suite (just as DAAN) will have its own interface- and user-related reasons for making certain choices for labels and descriptions. So we won't use CKAN as a source

[2019-05-10 13:39] wmelder commented on #28
- will start a new docker instance for cliopatria to load new version of the data
- decided to import parts of the catalog (small datasets) in separate named graphs for testing purposes (loading is such a drag). Initially we load 'polygoon/Hollands Nieuws' en 'TV/actualiteiten'
- discussed the person model to use and came up with a fresh EntityInRole class that solves all the problems (@mwigham wi

[2019-05-10 13:39] #28 closed

[2019-05-10 13:46] wmelder opened #33 "As a data engineer I need to reload the NISV data using the updated RDF scheme"
* decided to import parts of the catalog (small datasets) in separate named graphs for testing purposes (loading is such a drag). Data can be inserted/dropped to another graph. Unfortunately, since the graph is so large (471M) copying to another already times out. Therefor, we need to find another strategy to:

1. find the series identifier (from ES?),
2. load the series using OAI-PMH/XSLT in the

[2019-05-10 13:51] wmelder opened #34 "As a data engineer I need to change the RDF schema for improved Person/Role information"
- [x] change the scheme, so that it reflects the discussed person model to use including a fresh EntityInRole class that solves all the problems

[2019-05-13 11:02] mwigham commented on #34
The schema has been changed and checked in to Github (in the lod-schema-development-mari branch). Documentation is provided [here](https://docs.google.com/document/d/1P5HuMlzPyzUlDTbHaDOXeZ9jU3q82rnNjtM0OuecrkM/edit#heading=h.v1k1huj19c15), once the schema is reasonably stable, we will move documentation to the wiki.

@wmelder  can you review please?

[2019-05-13 13:32] wmelder commented on #34
We are making nice progress. Some first remark (also added to the documentation)

ArchiveEntity is a bit confusing. It both superclasses persons (as in creators) and the intellectual entities (as in an audiovisual, complex creation). Ofcourse I'm an advocate for simplicity, but not oversimplification! Let's discuss to what extent we need to distinguish between Entities (like Person/Organisation),

[2019-05-13 15:14] wmelder commented on #34
some more remarks on the nonproductionorganisation entity...

[2019-05-14 07:39] jblom commented on #28
@mwigham @wmelder for retrieving convenience: adding the reference to story #33 here, which you made based on your previous comment.

[2019-05-17 15:42] wmelder commented on #34
Although you already investigated a lot, making a note here that with respect to the modelling of the Programs, Series, Carriers, etc.  we need to further inspect and freely reuse some of the ideas from

* [FRBR](http://vocab.org/frbr/core),
* [IFLA-LRM](https://www.ifla.org/files/assets/cataloguing/frbr-lrm/ifla-lrm-august-2017_rev201712.pdf), and
* [PREMIS-OWL](http://www.loc.gov/standards/premi

[2019-05-20 05:48] jblom commented on #34
@wmelder nice list, good to see your recommendations externalised :-)

[2019-05-20 09:56] mwigham commented on #34
Good ideas, perhaps put them in a new issue? And please check if they are (adequately) included in [the overview of relevant schemas](https://docs.google.com/document/d/1I9XRgPhyO_b-HbLGKrRjgQahEsc4F35yj7h1iPFaBco/edit)

Just for clarity for others, we are sticking close to the iMMIx structure for our first schema.  But later on we want to map to external schemas to help others to use our data, an

[2019-05-22 08:30] wmelder commented on #27
Suggest to put this issue on hold for now. First, create the new schema, import test sets in the cliopatria, then retry, eventually by falling back on loading triples from donwloaded Turtle files from Cliopatria. See issue #33

[2019-05-22 08:39] mwigham commented on #27
Agreed,, a comparison of the triplestores can wait, it's more important to get on with test and development cycles to improve our schema and data

[2019-05-22 11:05] jblom commented on #34
@wmelder ok closing this one. Please draft a new story for the next updates to the schema

[2019-05-22 11:05] #34 closed

[2019-05-22 11:24] wmelder opened #35 "As a data modeller I need to properly model Objects and Programs/Series/etc."
Continuing from remark in issue #34

Although you already investigated a lot, making a note here that with respect to the modelling of the Programs, Series, Carriers, etc. we need to further inspect and freely reuse some of the ideas from

    FRBR,
    IFLA-LRM, and
    PREMIS-OWL
    schema.org

It seems objects, events, persons, organisations, clips with associatedMedia, works (or endeavours) a

[2019-05-23 11:42] mwigham opened #36 "As a data engineer, I need to test the new schema, including models for People, Company, Place"
We have adapted the schema to improve modelling of people, companies and places (#34), and will update the data (#33). Once that is complete, we need to test if the new modelling does what we expect.

- [x] all types of person and companies are modelled and are present in the data
- [x] all types of location are modelled and are present in the data
- [x] the data can be queried with the same patte

[2019-05-27 05:50] jblom commented on #36
@mwigham @wmelder nice, I'm really looking forward to hearing some more about what you've done. Please consider a small workshop/demonstration where you can show what you've accomplished and how you've went about your work and why.

I think this could be a nice intermediate result before we start hooking up to DAAN.

Added this to the TODO in sprint

[2019-06-05 08:43] jblom commented on #10
@lilimelgar closing this, since it's only a matter of updating the CKAN sheet and finally updating production

[2019-06-05 08:43] #10 closed

[2019-06-11 17:08] mwigham opened #37 "As a data user, I want the GTAA Persoonsnamen to be aligned with Discogs artists, so we have a better quality of person data for search"
The alignment will be performed by creating a strategy in SpinqueDesk. This will initially be used to match non-compliant GTAA Persoonsnamen with Discogs artists, but can later be used to match the compliant names, producing an alignment with Discogs that we can use to enrich the data

Acceptance criteria
- [x] Vincent, Tim and Jesse agree that strategy is acceptable
- [x] Strategy is documented
-

[2019-06-11 17:18] mwigham opened #38 "As a user of linked data, I want the Sound and Vision schema to be aligned with schema.org"
In this issue we will map the Sound and Vision schema (that describes the data model of the archive, NOT the GTAA that describes metadata values) to schema.org.

- [x] Review the iMMIx->schema.org mapping that Spinque created for data import to SpinqueDesk
- [x] Create a mapping for our new Sound and Vision RDF schema, for metadata fields that can be represented in schema.org (other metadata field

[2019-06-12 08:24] wmelder commented on #22
discussed with Mari that persons and organisations will be subclasses of skos:concept, so that the data will be much more easy to use. schema and transformation adaptations are needed.

[2019-06-17 08:19] mwigham commented on #37
Scheduled work on the strategy is completed, work is now on hold until a meeting on 25th June.

[2019-06-17 15:01] wmelder commented on #22
except for some minor points the transformation is improved for NISV data
@mwigham: can you do a review on the schema? It is in the branch wm_schema_changes_...
You can run the the server and test some programs/seasons, etc.
So testplan:
* review scheme
* check the resulting data

[2019-06-20 08:21] mwigham opened #40 "EPIC: Use Linked data to enable cross-collection searching in the Media Suite"
Many of the potential uses for linked data that are interesting for scholars involve searching across various collections in the Media Suite.

Some of the tasks required to realise this epic are:

- [ ]  Develop a central 'Clariah' schema for the structure of the data, that is optimised for the use cases of the Media Suite (reusing existing schemas where possible, e.g. CIDOC, schema.org etc. The w

[2019-06-20 13:50] mwigham commented on #22
Great to see the various people and their roles now modelled the way we had worked out together, good work! Looking forward to trying it out with queries once we have more data.

During review, I found some issues:
Schema:
- hasSortDate should have dateTime as its range

Transform:
- Funder objects are not created (see e.g.  207485@program)
- Producer and Sponsor are missing a level, the label is

[2019-06-20 13:53] mwigham opened #41 "As a LOD user, I want the properties and classes in the data to use the same names as the schema"
The RDF that we generate from OAI-PMH uses names for the properties and classes that are derived from the OAI names. The RDF schema uses names for properties and classes that we have developed to both fit with RDF conventions, and provide user-understandable names. We need to change the data generation so that it will produce the same names as in the schema. E.g. nisv:description should be nisv:ha

[2019-06-20 14:19] wmelder commented on #22
@mwigham
Already deployed the version you reviewed.
Will work on the bulleted remarks you make here and redeploy.
Thanks for your python2 to 3 remarks. I will create an issue for that and do it with some next version.

[2019-06-27 12:48] #35 closed

[2019-06-27 12:52] wmelder commented on #27
close it for now

[2019-06-27 12:52] #27 closed

[2019-06-27 13:08] jblom opened #42 "As a LD user, I need the catalogue data labels to be matched with the GTAA concept labels, so that records with the same literal for a controlled field share the same GTAA concept URI."
@jblom commented on [Thu Jun 27 2019](https://github.com/beeldengeluid/rd_infra_service/issues/8)

When we got the GTAA as a named graph, this can be used to improve the NISV catalogue data. This means that fields containing strings will be rewritten to skos concepts. To be able to do that we need to research the possibilities:

- [x] to combine two or more graphs,
- [x] to match NISV literals to

[2019-06-28 05:28] mwigham commented on #11
@wmelder Do we still want to do this? Our current thinking is more to keep the schema separate from the details of how data is entered at Sound and Vision, and the GTAA schemes are quite a specific link to the implementation.

[2019-06-28 09:59] wmelder commented on #22
@mwigham new redeploy is done...

The things that were not done:

- [ ] Nationality objects aren't created (While looking at the schema.org mapping, I wondered if we can perhaps map Nationality objects as a sort of EntityInRole - they seem to only exist to link a nameless person from a certain country with a production via a certain role, so that would match quite well)

- [ ] Finally, the code is

[2019-06-28 10:01] wmelder opened #43 "As a developer I need to upgrade the code to Python3 and write unittests"
Upgrade the code so it can run with Python3.

- [x] Finally, the code is in Python2. It would be handy to update it to Python 3 (the code itself then only needs the following changes - replace 'from urllib import urlencode' with 'from urllib.parse import urlencode', replace iteritems -with items.
- [x] write test cases

[2019-07-01 07:06] mwigham commented on #37
Review meeting moved to 8th July. Strategy is documented, will do screengrabs once it is reviewed and any additional work is completed.

[2019-07-01 08:57] mwigham opened #44 "As a test user, I want the grlc api and linked data notebook to show role information"
Liliana indicated that Clariah scholars find it very important to see how a person is linked to an item. This information is currently missing from the grlc api and test notebook.

Use case is to be able to start at a programme, see which people are present in which role, and then find 1) other programmes where they have the same role and 2) other programmes in which they have a different role. E.

[2019-07-01 11:12] mwigham commented on #38
Issues are discussed in [this document](https://docs.google.com/document/d/1ujma9R8kq5X9M1pg-o-Hl8cv9rvtpHSwl3sFZ2ONPRU/edit?usp=sharing), which also contains links to the mapping.

[2019-07-02 09:00] jblom commented on #11
@mwigham @wmelder A nice solution is to create a separate graph just for linking the two. This way you can flexibily include/exclude this linking graph (& the GTAA graph) from your queries.

So this story could be about creating a linking graph.

What do you guys think?

[2019-07-02 09:12] jblom commented on #22
@wmelder ok thanks for the update. Saw the new issue as well. Agree the first point needs to be discussed first before turning it into an issue.

@mwigham and you can see if this issue can be closed at some point. Please let me know if I can also review something (with a modest test plan ;-) )

[2019-07-02 09:13] jblom commented on #43
@wmelder moved this to the top of the backlog. Let me know if you need help with the unit tests. I can help you along the way (otherwise please check e.g. the search API for unit tests)

[2019-07-02 09:23] mwigham commented on #22
Seems fine to me to close this. Further testing isn't feasible at the moment as Cliopatria is very slow (Willem, could this have to do with loading new data?), but Jaap, there will be good opportunities later to review, as we are developing this iteratively.

Regarding the Nationality issue, currently a Nationality object consists of a country (which in DAAN will come from the GTAA) and a role. So

[2019-07-02 09:25] jblom commented on #44
@mwigham @lilimelgar a nice issue. Moved this to the backlog

[2019-07-02 09:44] jblom commented on #22
@wmelder ok if you also think this is all done, close this one please

[2019-07-02 11:04] wmelder commented on #22
@mwigham  cliopatria shouldn't be slow because of loading, because that will be done on a second instance. It seems the schema: prefix hasn't recovered (after restart). Could that be a problem?

[2019-07-02 11:05] mwigham commented on #22
I can't imagine that causing the problem, but it could be a symptom of another problem. Do you have decent speed when you query in the Yasgui editor?

[2019-07-02 11:12] wmelder commented on #22
it's weird. I only get 400 bad request. thought it was my client code yesterday, but now it seems a server problem.

[2019-07-02 13:51] mwigham commented on #11
That would be a good solution, then we can use the knowledge without setting it in stone in the schema itself.

[2019-07-02 16:15] wmelder commented on #11
I may be missing it, but I think in the comments in the schema we already provide the link between the catalog data and the GTAA. Since the iMMix data don't have URI's, but do have have the prefLabels from the conceptScheme they're from, we can modify the data, so the blank nodes ID's are replaced with the correct GTAA URI. The process doing that is depending on some scripting logic, I think. But

[2019-07-04 13:51] jblom commented on #29
@wmelder @mwigham can you please update & split this up into simpler issues (with nice examples)

[2019-07-05 10:01] wmelder commented on #33
There is a fix for the LOAD problem. To be able to use it, need to:
`update to the git version of SWI-Prolog and update ClioPatria to the latest git version.`

[2019-07-05 15:59] wmelder commented on #33
after downloading the latest git version for SWI-Prolog, installing git-archive-all to include all the submodules in a tar ball, rebuilding the SWI-Prolog docker image locally, building the latest git version of the Cliopatria repo in a docker and bringing the server up... I can load multiple resources in a single graph... pfff amazing...

[2019-07-08 08:44] jblom commented on #33
@wmelder good to hear haha

[2019-07-09 06:50] mwigham opened #45 "As a thesaurus owner, I want to get an overview of Discogs alignments, to evaluate their quality"
Tasks
- [x] Generate Excel with results of group/person detection via comma
- [x] Generate overview of matches with labels and album names (current options either with SpinqueDesk and Angular, or SpinqueDesk and an Excel export + script)
- [x] Make it possible to generate the overview for subsets of the results, e.g. names with initials, names matched with levenshtein, ambiguous matches

Acceptanc

[2019-07-09 06:53] mwigham opened #46 "As a data engineer, I need to add some additional options to the Discogs alignment strategy"
Tasks:
- [x] Use track information to also generate album-artist pairs where these don't explicitly exist
- [x] Look at how to choose between ambiguous matches (after they have been confirmed with albums) based on whether match is on main name or alternative name, with or without fingerprinting (this step may be outside of SpinqueDesk)
- [x] Incorporate the extra filter for person/group into the w

[2019-07-09 06:55] mwigham commented on #37
REview meeting completed, strategy approved in general, some additional work which is in new stories. I think we can close this issue.

[2019-07-09 07:13] jblom commented on #45
@mwigham all clear, added it to the bottom of the backlog

[2019-07-09 07:20] jblom commented on #46
@mwigham about the last point: I guess those are screenshots of the Spinque desk? Moved this to the bottom of the backlog

[2019-07-09 07:20] jblom commented on #37
@mwigham awesome. Closing

[2019-07-09 07:20] #37 closed

[2019-07-09 11:01] jblom commented on #41
@mwigham could you define a bit more precisely what properties/classes of what exact thing do not match some other exact thing? Could you also provide an example?

Also this still relates to the old OAI-PMH endpoint right? So far you and @wmelder are not using the new OAI? (curious to hear about what you've investigated there)

Put this in the icebox for now.

[2019-07-09 11:02] jblom commented on #41
actually kept it in Unapproved, so we first this one out a bit better

[2019-07-09 11:51] mwigham commented on #41
I've updated the description. Yes, this is relating to the old OAI-PMH endpoint, but the same issue will exist when we get the new one, as that uses DAAN names. It is probably best therefore to wait with resolving this issue until we move to DAAN, otherwise we have to solve it twice.

[2019-07-09 12:44] jblom commented on #41
@mwigham ok moved it to the icebox now. Later on it needs to be extended with specific acceptance criteria

[2019-07-10 09:29] mwigham opened #47 "As LD engineer, I need to experiment with the use of inferencing for querying Person and Place information"
In the Sound and Vision archive, we have multiple properties that indicate the involvement of a Person (producer, creator, speaker etc.) and also multiple properties that indicate the involvement of a Place (recordingLocation, location etc.). We want to query these in one go - give me all the Persons involved in this programme, or all the Places. In the RDF schema, we have grouped these properties

[2019-07-10 09:33] jblom commented on #11
@mwigham @wmelder let's organisse a pow-wow to work this one out on the white board soon :p

[2019-07-10 09:37] mwigham commented on #29
I've tried to make this more focused on the aim - be able to query all Person relations in one go - and have split the different possible methods into 2 stories (the third possibility, of mapping the data, I have not turned into a story as I would regard that as more a last-ditch solution)
@wmelder Your interpretation of this story had more to do with using other schemas. Mapping to other schemas

[2019-07-10 13:27] wmelder commented on #33
- [ ] load 'polygoon/Hollands Nieuws' en 'TV/actualiteiten' [IN PROGRESS] This is a slow process. It started quick, but as the size of the graph grows, so do the load times. ow 4M triples in store and loading a new resource already takes 4 secs. About 100000 items to go, so... it will take another 111 hours at the current speed. And the speed will decrease as more triples are loaded. :-(

[2019-07-11 09:40] wmelder commented on #33
- [ ] implement a thread pool, so the loading will be speeded up and uses multiple cores (one for each web request)

[2019-07-11 13:31] wmelder commented on #43
- [ ] prepare the repository tests to be run using pipenv tun pytest tests/unit_tests

[2019-07-17 08:21] wmelder commented on #43
- [ ] need to write fixtures and tests for data GTAA

[2019-07-17 08:46] jblom commented on #33
@wmelder please let me reviewwww

[2019-07-25 09:52] jblom opened #48 "As a user, I want to be able to view a LD resource in a nice web page, so I can participate in LD goodness"
**Approach**
- make sure you can run the LOD server on your localhost
- edit the server.py and add an extra route to the new HTML page
[code]
- add the file `resource.html` to src/templates (you have to create the `templates` dir)
- add a new css file to `src/static/css` (you have to create the `static/css` dir in `src`)
- if you have the LOD server running, you can access your resource.html page

[2019-07-25 14:15] wmelder commented on #43
@jblom please review
- code is refactored, so the steps for transformation are more transparant
- NOTE: etree.tostring return bytes, use encoding="unicode" to get a string
- tests for the concept handler are added
- fixture for file:// resource are added.
- pipenv is used
- pre-commit uses pipenv run pytest
- when all is gooed => DEPLOY

[2019-07-26 09:30] wmelder commented on #33
- [ ] load 'polygoon/Hollands Nieuws' [IN PROGRESS] en 'TV/actualiteiten' [DONE - MISSING IDS]
- [ ] export the data from the named graphs tot Turtle, so that it can be loaded in Virtuoso [IN PROGRESS]
- [ ] write a testplan for jaap
- [ ] implement a thread pool, so the loading will be speeded up and uses multiple cores (one for each web request) [MOVE TO OTHER ISSUE]
- [ ] reconsider importing c

[2019-08-08 06:41] mwigham opened #49 "As a thesaurus manager, I want to know if ambiguous matches can be automatically disambiguated"
When matching GTAA concepts to Discogs, some of the matches are ambiguous. Ambiguous matches whereby more than one GTAA concept matches one Discogs concept have to be disambiguated by hand, to determine if these concepts indeed refer to the same person. Ambiguous matches whereby one GTAA concept is matched to more than one Discogs concept can potentially be automatically disambiguated, by preferri

[2019-08-08 11:41] mwigham commented on #46
A method for handling ambiguity has been chosen and will be implemented in #49. Album name matches using 'contains' are not being included, as SpinqueDesk has problems with this block. The strategy has been documented [here](https://docs.google.com/document/d/1vbEnbzTdvWPqJlXyOMjnmHscqOxr_9ghz5l6o2FWIjk/edit?usp=sharing), with screenshots.

[2019-08-12 08:29] mwigham opened #50 "As a developer, I want to test creating triples from the DAAN backbone importer"
Currently, we import our Linked Data from OAI. Since the dawn of the new backbone, which pushes DAAN data to registered importers, we are able to get our hands on up-to-date B&G catalogue data as well. We will investigate both this option and the OAI option as part of our investigations into possible [LOD pipelines](https://github.com/beeldengeluid/beng-lod-server/wiki/LOD-pipeline)

**Tasks**
- [

[2019-08-12 08:32] mwigham opened #51 "As a developer, I need to adapt the DAAN mapping to ensure that date fields are of date type"
Currently, date fields such as program.publication.begindate are being imported as string fields, so are not recognised in the Media Suite as dates (meaning a.o. that the date filter in Search doesn't work)

Task
- [ ] Familiarise myself with the importer code
- [ ] Adapt the mapping
- [ ] Run the importer and check with the first few results if the date is now correctly mapped

[2019-08-13 07:30] jblom commented on #46
@mwigham ok looks like this issue has been dealt with properly. Closing it. Maybe later on someone can do an overall review of your work

[2019-08-13 07:30] #46 closed

[2019-08-13 07:31] #22 closed

[2019-08-13 07:43] jblom commented on #49
@mwigham I've added this one to the backlog

[2019-08-19 07:35] avlisodraude commented on #48
@mwigham @jblom
Issue for beng-lod-server project done in branch:
_issue/#48-add-html-view-mode-to-resource_

**GitHub:**
_https://github.com/beeldengeluid/beng-lod-server/tree/issue/%2348-add-html-view-mode-to-resource_

### What's been done?
A template to render resources based on level and id has been added along with the needed functionality to make it retrieve the data requested.

### How to

[2019-08-20 06:05] mwigham commented on #45
Added additional information to overviews

[2019-08-23 04:31] mwigham commented on #48
Tried to test this but unfortunately I get the following error:

```requests.exceptions.ConnectionError: HTTPConnectionPool(host='0.0.0.0', port=5309): Max retries exceeded with url: /resource/program/5289392 (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x00000201316A7AC8>: Failed to establish a new connection: [WinError 10049] Het aangevraagde adres is niet geldig i

[2019-08-28 08:16] jblom commented on #45
@mwigham please also put whatever you've learnt about aligning in the beng-lod wiki

[2019-08-28 09:03] jblom commented on #33
@wmelder please put a testplan here, so I can conveniently test this

[2019-08-28 09:25] wmelder commented on #31
@avlisodraude check this out. This is an out-of-the-box ontology representation in HTML. Took me 5 minutes to produce.
http://lambdamusic.github.io/Ontospy/

[2019-08-28 10:08] avlisodraude commented on #31
@jblom @mwigham

Issue for beng-lod-server done in branch:
_issue/#31-html-beng-schema-representation_

### What been done?
An HTML representation of BenG Schema has been added to the project which allows:
- To view every Class in a table with their respective elements (when available) like Class name subClassOf (parent Class) and a description for the class. (**screenshot 1**)
- The interface all

[2019-08-28 13:41] wmelder commented on #33
@jblom

[28-08-2019] testplan for Jaap:
* checkout branch  'wm-lod-create-nisv-catalogs'
* brew yourself a pipenv with the Pipfile
* cd into src/
* copy the settings-example.py to settings.py, check out ["BG_CATALOGUE"]["LOD"].
* inspect the code from MSDataManagerLODCopyNamedGraph.py and the sparql Classes in MSDataManager/.
* inspect the 'older' code in MSDataManagerLOD.py

In case you want to l

[2019-08-28 14:19] wmelder opened #52 "As a linked data engineer I want to get the LOD representation of NISV objects lean, so that loading in RDF store is easy."
- [x] reconsider importing carriers (meaning the LOD server should not present the Carrier information). The total amount of triples is slowing down load. Carriers consume the larger part and are not interesting from a linked data perspective.
- [x] make the option of providing with or without carrier information configurable for the beng-lod-server. Basically, the XSLT used will determine whether

[2019-08-29 07:44] jblom commented on #50
@mwigham I rewrote the approach, since it is not desirable to directly link with the flex data store. We should simply extend the importer and work from there. It is wise to register a separate importer, so the looooooooong process of the ES aggregation won't be stopped all the time ;-)

[2019-08-29 12:10] jblom commented on #48
@mwigham it's probably the 0.0.0.0:5309 thing. Just paste the URL path `/resource-html/program/5289392` after the host+port of your own local lod server.

[2019-08-29 12:47] mwigham commented on #48
@jblom no, that's not it unfortunately. localhost:5310 (that's the port on my laptop) shows me the API with no problems, but when I paste the URL path after it, I get the error

[2019-09-03 07:51] mwigham commented on #45
@jblom is [this](https://github.com/beeldengeluid/beng-lod-server/wiki/Alignments-of-the-GTAA-with-other-thesauri-vocabularies#method) the sort of thing you had in mind?

[2019-09-05 12:09] jblom commented on #45
@mwigham certainly, great stuff

[2019-09-05 13:40] mwigham commented on #36
Persons/Organisations:
originalCreators - not in original data
contractors - not in original data
sponsors - not in original data
All other entityInRole types are present. They all point to a subtype of EntityInRole, which points to either a Person or Organisation, which is a concept with a skos:prefLabel, as it should be.
(Note, the only Funder presently in the data has the label "Schone inlassen

[2019-09-05 14:44] jblom commented on #43
@wmelder ok so I adapted the tests & code a bit, so the code does the exception handling and the tests merely check if the code returns proper error messages. It's deployed!

[2019-09-05 14:44] #43 closed

[2019-09-09 12:39] jblom commented on #49
@mwigham can this one be closed or otherwise reviewed?

[2019-09-09 13:10] mwigham commented on #49
Closed, the information seems to be useful.

[2019-09-10 06:00] mwigham opened #53 "As a LOD user, I want the beng RDF schema to be focussed on content"
The DAAN model is focussed on carriers. Ideally we would like to shift this focus to be on the content. In particular because the model is complicated - you have multiple ways of linking content to a program:

- carrier -> technical logtrackitem ('normal' content)
- carrier -> scene description logtrackitem (clip in program)
- aggregation asset -> segment -> carrier ->technical logtrackitem ('norm

[2019-09-10 06:05] mwigham commented on #13
I have created a separate issue #53 for how we can model the locations (carrier and timing information) of the various content and enrichments of a program in such a way that we can abstract from the physical storage implementation (which is dominant in the DAAN model). For now, I suggest we concentrate on the descriptive metadata, so leave out the details of timing on carriers (and leave out enri

[2019-09-11 08:49] mwigham commented on #13
Will document the selection process in the wiki

[2019-09-12 07:33] jblom commented on #53
@mwigham wow I can see now why your head was exploding when crunching the DAAN model...

hmm it might not be a crazy idea to store all "annotation like" logtracks as annotations. Also this would make the implementation of the front-end easier, since the video player with multiple timelines is there mostly for annotating segments of audio/video.

For now I kind of like the idea to:
1. model curated

[2019-09-17 10:45] mwigham commented on #13
The first version is complete, checked in in the daan-schema branch of beng-lod-server. It is documented [here](https://github.com/beeldengeluid/beng-lod-server/wiki/DAAN-RDF-Schema). We can view a web representation either with [Eduardo's code](https://github.com/beeldengeluid/beng-lod-server/issues/31) or using [ontospy](https://pypi.org/project/ontospy/). I suggest we make consultation with exp

[2019-09-18 10:33] mwigham commented on #48
@avlisodraude do you know what the problem could be, perhaps?

[2019-09-18 10:34] mwigham commented on #31
@avlisodraude is it helpful if I review this? If so, could you write a test plan please?

[2019-09-20 08:09] mwigham commented on #13
@wmelder @jwassenaarbg could you review please? The steps are:

- [ ] Read the [documentation](https://github.com/beeldengeluid/beng-lod-server/wiki/DAAN-RDF-Schema) and see if you agree with the excluded metadata fields
- [ ] Check out the [schema](https://github.com/beeldengeluid/beng-lod-server/blob/daan-schema/resource/bengSchema.ttl)
- [ ] As Eduardo's code is based on the iMMIx version of th

[2019-09-24 10:47] mwigham commented on #48
@avlisodraude  I got this working. I don't know to what extent the issues I faced will affect others, but here is a list:

server.py
- The requestUrl was hardcoded using 0.0.0.0, my setup won't accept that. It also hardcoded the port, leading to discrepancies between the port it was running on, and the port it was trying to access
- The requestUrl had '{level}' and '{identifier}' hardcoded so that

[2019-09-24 10:58] mwigham commented on #48
let me know if you want me to check my changes in

[2019-10-07 09:45] jblom commented on #29
@mwigham please check the description and make it a bit more short & sweet so we all can understand what this work entails in a glance

[2019-10-07 12:18] mwigham opened #54 "As a developer, I want to test creating triples from the new DAAN OAI-PMH"
Currently, we import our Linked Data from OAI for the iMMIx database. There is now an OAI-PMH available for DAAN. We need to adjust the beng-lod-server code to use the new OAI-PMH, and compare this with the alternative option of getting triples from the backbone importer (See [LOD pipelines](https://github.com/beeldengeluid/beng-lod-server/wiki/LOD-pipeline))

**Tasks**
- [x] Create a branch of th

[2019-10-07 12:22] mwigham opened #55 "As a developer, I need to compare the OAI-PMH and backbone options for the LOD pipeline"
For generating LOD from DAAN, we have three options - OAI-PMH, backbone import and generation from the aggregated ES index. We have tested the first two options in other issues. Now, we need to compare them to find the advantages and disadvantages, to help in choosing which option is best, or whether we need both

Factors to consider include but are not limited to:
- Does it support both ad-hoc ac

[2019-10-07 12:28] mwigham commented on #55
@wmelder I've updated this epic and added new issues, and a wiki page (see the epic description) to reflect what we discussed about how we will evaluate and compare different options for the DAAN-LOD pipeline. Please have a look and see if this is also what you had in mind - feel free to add detail and explanations.

[2019-10-07 13:25] #49 closed

[2019-10-09 09:37] wmelder commented on #42
This has been done, at least for the concepts from the 'GTAA/Onderwerpen', which is not so large.
The SPARQL request works (also delete triples that aren't needed), so we need to proceed with the other parts: Genre, Programmatitels, Persons, Geographical Names, other Names, and then the smaller ones from the nongtaa.
Issue is that harvesting and saving the concepts to file and load it into the tri

[2019-10-09 09:40] wmelder commented on #42
@wmelder TODO: cut work up in 'manageable' chunks. Maybe automate some SPARQL requests.

[2019-10-10 07:52] wmelder commented on #33
Note that there is current development in a different branch that has python3 code, a different set of LODManager Classes for loading LOD, GTAA loading classes and partitioning into manageable sizes (sitemaps has a 50.000 limit)...
The new approach (to prevent loading from being terribly slow) is to load approx. 50000 items in a graph in memory, then serialize to turtle and continue doing this unt

[2019-10-10 07:58] wmelder commented on #42
![image](https://user-images.githubusercontent.com/1220375/66549803-61a4bb00-eb44-11e9-8977-a966e79d3560.png)
Issue can be closed if we did this for the data that is now in the store (see the uploaded image)

[2019-10-14 07:35] mwigham commented on #50
From the task list:
"ask @jblom
to create backbone-lod.rdlabs.beeldengeluid.nl), so it can be registered to the pusher separately"
@jblom, could you create this please? No rush, as I will continue with other issues in the meantime.

[2019-10-14 09:04] mwigham commented on #45
@jblom I think this one can be closed, we have no further requests for improving the overview

[2019-10-14 09:05] mwigham commented on #36
@jblom I think this can be closed

[2019-10-14 09:29] mwigham commented on #33
@wmelder which branch is the python 3 one please?

[2019-10-14 10:52] #33 closed

[2019-10-14 10:52] wmelder commented on #33
Issue moved to [beeldengeluid/labs-importer #37](https://github.com/beeldengeluid/labs-importer/issues/37) via [**ZenHub**](https://www.zenhub.com/)

[2019-10-14 14:59] #36 closed

[2019-10-16 09:54] jblom commented on #38
@wmelder please give some smart sounding comments and then @mwigham can close it

[2019-10-16 15:24] lilimelgar commented on #48
@avlisodraude Same: also let me know if you want me to check...

[2019-10-17 09:46] #45 closed

[2019-10-23 15:22] wmelder commented on #42
done now for actualiteiten en hollands nieuws for the onderwerpen, geografischenamen en genre...
more catalogs to follow... but first patch the beng-lod-server, so that it doesn't provide all teh clutter (carriers...)

[2019-10-23 15:22] #42 closed

[2019-10-24 07:41] mwigham opened #56 "EPIC: Use Linked Data to enable enriching/linking Media Suite collections with external collections"
There are many external linked data collections that can supply relevant information for Media Suite users. Some of these are other heritage collections, such as KB linked data, others are broader, such as wikidata.

This epic includes tasks such as:
- [ ] Identifying relevant sources
- [ ] Aligning schemas for Media Suite collections to external schemas
- [ ] Importing data into the Media Suite

[2019-10-24 07:43] mwigham commented on #56
@wmelder @jblom I have proposed this epic to cover the more long-term linked data development that what is necessary for the immediate DAAN pipeline and Linked Data sandbox. This way we have a home for work that is already in progress on these sort of issues, such as that related to the DERA demo, that will benefit the Media Suite in the later stages of linked data implementation.

[2019-10-24 07:45] mwigham commented on #56
This epic won't have high priority, but it involves work that takes a long time and so it is good to get the ball rolling.

[2019-10-24 15:13] wmelder commented on #52
added simple tempate that removes carriers to XSLT and deployed it!

[2019-10-24 15:13] #52 closed

[2019-10-28 08:50] mwigham opened #57 "As a LD engineer, I want an overview of relevant (linked) data sources for people"
In [a previous issue](https://github.com/beeldengeluid/beng-dera/issues/8) we compiled a list of relevant data sources for persons in the Sound and Vision thesaurus. We want an overview of these data sources to see in how far they could be useful for linked data for the Sound and Vision collection and other Media Suite collections.

The overview should include the following aspects:
- [ ] assessme

[2019-10-28 11:00] wmelder commented on #13
issues:
- according to the schema an 'afspeelbaar audiovisueel object' is a skos:concept. should not be like that. I think, what was meant is that the 'playable AV object' has properties that are skos:concepts.
- the use of multiple languages for the labels must be consequent. Thus, all properties and classes must be defined both in 'nl' and 'en'. This is also necessary for the HTML schema represe

[2019-10-28 18:28] mwigham commented on #13
Thanks for the review!
I've removed the 'is a skos:Concept' for PlayableAudiovisualObject, this was indeed an error.
Language use definitely needs to be consistent, and Eduardo's overview will be essential in being able to ensure that, as it makes it easy to see what is missing. I thought I had created an issue for making all labels fully complete, but I can't find it at the moment, so I'll create

[2019-10-30 12:49] avlisodraude commented on #31
**@wmelder**

Issues found during review have been solved, these issues where:

- Calling schema.html without / returned 404
- Langueges where not set properly if non selected

### Pull request
- https://github.com/beeldengeluid/beng-lod-server/pull/58

[2019-10-30 15:11] wmelder opened #59 "As an LOD engineer I need to safeguard the current OAI-PMH solution, because ti will be discontinued by the end of the year"
Today (30-10-2019) we found out the OAIPMH provider was shutdown.

It turns out sysadmin doesn't want the server to be operational after 31-12-2019 (so the a-team says), because of the Redhat 6 version. See [lifecycle](https://access.redhat.com/support/policy/updates/errata#Details) and [support for RHEL6](https://access.redhat.com/support/policy/updates/errata#Life_Cycle_Dates)

Therefor, because

[2019-10-31 09:53] wmelder commented on #13
@mwigham ready to close. the following tasks have to be done in another issue.

- As Eduardo's code is based on the iMMIx version of the schema, install ontospy pip install ontospy[FULL] -U (note, for me it didn't work via pipenv, it complained about the '-U' option)
- Generate a HTML view of the schema ontospy gendocs <location of bengSchema.ttl>, choosing option 2
- Determine essential basic inf

[2019-10-31 09:59] wmelder opened #60 "As a LD developer I need to properly finish the nice things we did with the schema and HTML representation"
- [x] Make sure the HTML representation is loaded dynamically, e.g. every time a new Turtle schema is chaked in or, every time the html-schema page is loaded. Maybe this can be done on commit?
- [x] As Eduardo's code is based on the iMMIx version of the schema, install ontospy pip install ontospy[FULL] -U (note, for me it didn't work via pipenv, it complained about the '-U' option)
- [x] Generate

[2019-10-31 10:00] wmelder commented on #31
@avlisodraude ready to close this issue.

A [new issue ](https://github.com/beeldengeluid/beng-lod-server/issues/60) was created including the remaining task to load the HTML from the latest version of the Turtle schema.

[2019-10-31 10:22] mwigham commented on #13
Thanks @wmelder. Sorry, I wasn't so clear in my explanation. The generation of the HTML view using ontospy wasn't a goal of this issue in itself, but simply a means to easily check the schema in the test plan. So Eduardo's code already fulfils the first criteria of this issue nicely.  Of course, we will need to develop its use further, but that will be something to work on as we further discuss an

[2019-11-01 15:01] mwigham commented on #54
This issue is ready for review. I have used a different approach to the XSLT, instead transforming the XML to json and then using schema information to convert it to RDF. I chose this option as it allows us to use the schema as a central point for defining the conversion, as we can then parameterise code for similar data types programmatically, and as the data format in the DAAN OAI-PMH is very cl

[2019-11-04 09:29] mwigham opened #61 "As a LD developer, I want to evaluate IMDB as a potential LD data source for the x-omgeving"
Acceptance criteria:
A document evaluating IMDB as potential source, including:
- [x] Persistence of identifiers
- [x] Terms and conditions of use
- [x] Functionality of API
- [x] Suitability of API for Termennetwerk
- [x] Suitability of API for Media Suite?

[2019-11-04 12:00] mwigham opened #62 "As a LD user, I want to know the type of the programme title"
In DAAN, the main programme title text and the title type are not bundled together, they are indicated by two separate properties. We need to find a way of bundling them together in RDF, preferably without hard-coding an exception into the code.

[2019-11-04 12:28] mwigham opened #63 "As a LD developer, I want to extend the RDF schema with more metadata fields from DAAN"
There are some DAAN metadata fields that are not yet included in the RDF, that would be useful. These fields should be added to the schema and also to the mapping used to convert the schema to RDF

Tasks:
 - [ ] Investigate the potential fields and decide which should be added: string versions of duration fields, heritagerule (as alternative source for heritagecategory), asset.category, asset,mate

[2019-11-05 07:36] mwigham commented on #63
Question is whether we already want to do this, or wait for reviewing the schema with a group - #4

[2019-11-05 09:20] mwigham commented on #44
First we need to make grlc accessible in the test version of the labs-search-api; although the code is present in master, the API section for grlc does not appear.

[2019-11-05 14:08] mwigham commented on #19
This issue related to the bg:transcripts metadata field. We will need to re-evaluate with the DAAN metadata to see if this issue is still relevant. It depends on how the enrichments (both old and new) are modelled in the logtrack items.

[2019-11-05 14:15] mwigham commented on #41
This issue is now redundant, as we are moving towards a link with DAAN for RDF, and both methods currently under consideration use the schema names directly.

[2019-11-05 14:15] #41 closed

[2019-11-05 14:45] jblom commented on #55
@jwassenaarbg & @wmelder should review this (and think along)

[2019-11-06 10:19] #31 closed

[2019-11-06 10:20] wmelder commented on #59
- [ ] make our version of the OAI-PMH the new backend for the beng-lod-server

[2019-11-08 09:46] wmelder commented on #59
the beng-lod-server config now points at http://xeniaonatopp:8091 for the OAIPMH server and it returns the LOD for the resources

[2019-11-08 09:46] #59 closed

[2019-11-08 09:54] jblom commented on #59
@wmelder yay it works. To wrap it up real nicely we should create a DNS entry for it (or reuse the old one). What do you think?

[2019-11-11 09:22] mwigham opened #64 "As an LD engineer, I want to try out RML as a mapping tool"
[RML](http://rml.io/) is a mapping library that can create RDF from various sources, such as JSON, XML and CSV, using the schema as input for the mapping. We want to try this out to see if it would be a useful part of our LOD pipeline.

 # Tasks
- [x] Install RML
- [x] Create a mapping for a core subset of the DAAN RDF schema, for either XML or JSON
- [x] Test this mapping with input files (no liv

[2019-11-13 13:04] wmelder commented on #54
@mwigham [here](https://docs.google.com/document/d/1MoVf-C3Rmu4XrPtMn0xem3J9wydXFRlzacrx7m074DM/edit?usp=sharing) are some comments..

[2019-11-14 07:00] mwigham commented on #54
@wmelder Thank you very much for the thorough review. I've added some reactions, for the rest I will work through the points and implement them.

[2019-11-15 15:03] mwigham commented on #55
Documentation is on the [wiki](https://github.com/beeldengeluid/beng-lod-server/wiki/Comparing-OAI-PMH-and-Backbone-Importer-for-DAAN-RDF-pipeline)

[2019-11-15 16:35] wmelder commented on #54
@mwigham @jblom

Can we discuss this branch? It is functionally doing what it should right now, but it could use a more object oriented approach. Class members are now manipulated by separate functions from other packages... It might be difficult to maintain....

[2019-11-17 11:10] jblom commented on #19
@mwigham I would rephrase this issue as:

as a data engineer, I want to model time based entities in the DAAN/B&G schema.

I think it's much easier to understand what needs to be modelled; where these entities are from does not matter

[2019-11-18 07:33] mwigham commented on #54
@wmelder Yes, fine to discuss it, it's good that you keep an eye out for this sort of thing.

[2019-11-18 07:43] mwigham commented on #19
@jblom I agree, I've changed it. I have also updated the description to fit with the way the data is modelled in DAAN, as we will no longer be doing this for the iMMIx data.

[2019-11-18 14:59] #13 closed

[2019-11-18 15:06] jblom commented on #38
@wmelder please review this story, so we can finally close it (grooming now)

[2019-11-19 07:33] jblom commented on #19
@mwigham thanks, much clearer now!

[2019-11-22 10:28] wmelder commented on #54
@mwigham Hi Mari, it took some time to commit the branch wm_daan_oai2rdf with the object oriented example code. Please check it out and use it for your classes. It is just an example of how to make the data (member) part of the class (object) and only allow class functions (with the _-underscore starting name) to manage that data. I also added a very basic initialization of the DAANClassesImporter

[2019-11-28 10:54] mwigham commented on #54
@wmelder Thank you very much for the refactored code, it's great. I have incorporated your changes and they also inspired me to tidy up some of the rest of the code. I have merged it into daan-oai-to-rdf. Please take a look and see if it's ok. In the meantime I'll move on to the rest of your comments.

[2019-11-28 12:37] mwigham opened #65 "As an LD user, I want the schema URIs of the NISV schema to resolve"
E.g. entering http://data.rdlabs.beeldengeluid.nl/schema/Person in a browser should return the statements about that concept type in the schema

[2019-11-28 13:40] mwigham commented on #54
@wmelder I've adapted the code according to your comments, please look and see if they have been addressed now.

[2019-11-29 13:16] wmelder commented on #54
@mwigham I added the class loading the the __init__, so it doesn't have to load the schema and properties every time a request is arriving... could you please check ?

[2019-11-29 15:41] mwigham commented on #54
in which init? I'm afraid I seem to be overlooking it in the code

[2019-12-02 08:52] mwigham commented on #50
As the backbone importer doesn't allow for access to specific resources, I also created a version of the beng-lod-server that works on the Storage API. This has been tested on the dev version of the storage api as this is all that is currently available. As a result, the resources that are accessible are limited, here are some test resources that ar available:
ITEM 2101708190021663421
ITEM 2101701

[2019-12-02 14:17] mwigham commented on #50
Small things to tidy up in later issues:

- Handle the situation nicely where an item has already been deleted (now get an error because the file already exists in the 'deleted' folder
- Change the code so that folders are only created once you write a file there - now have empty folders because the folders are immediately created when the storagelocation path is constructed, whereas we sometimes

[2019-12-03 09:26] mwigham commented on #50
Ran the importer for more than 12 hours without any crashes.

@johannes could you review the importer please? Test plan is:
- [ ] Switch on the RDF backbone importer on http://dev-app-bng-01.beeldengeluid.nl:8101/, and let it run for an hour, then stop it
- [ ] On gustavgraves, go to /home/labs/backbone_lod/src
- [ ] check error_log.log to see if any errors occurred in the hour. The error 'file ex

[2019-12-05 06:45] mwigham commented on #55
@jwassenaarbg @wmelder could you look at what I've [done so far](https://github.com/beeldengeluid/beng-lod-server/wiki/Comparing-OAI-PMH-and-Backbone-Importer-for-DAAN-RDF-pipeline) please and let me know what other factors I should consider for a good comparison of the options?

[2019-12-06 07:15] mwigham commented on #54
@wmelder Can I suggest we close this issue and look at loading the schema in the init in a separate one? As that is more an improvement than a correction.

[2019-12-06 09:45] wmelder commented on #54
@mwigham that's fine with me. Close this one and create a new issue for the loading? Can you create a pull request and assign me as reviewer when you're ready?

[2019-12-06 09:50] mwigham commented on #54
@wmelder. Yes, I'll do that

[2019-12-06 09:50] #54 closed

[2019-12-06 09:52] mwigham opened #66 "As a developer, I want the schema to be only loaded once when converting data to RDF"
Both beng-lod-server and x-omgeving-backbone-rdf use code that converts data to RDF based on the schema. The schema is loaded each time a concept is converted. This is undesirable, so we want to move the loading to the __init function of the BackboneHandler.

Tasks:
- [ ] Move the schema loading to the BackboneHandler init
- [ ] Test that RDF is still created correctly
- [ ] Test if performance is

[2019-12-06 09:53] mwigham commented on #54
Loading will be tackled in #66

[2019-12-09 14:50] mwigham commented on #12
@wmelder can we close this? You've implemented matching for our current data, and for the DAAN data the matching is not necessary.

[2019-12-09 14:56] wmelder commented on #12
@ mwigham  Sure! The main problem now is still the size of the data and loading it, not so much the matching. The current lod-importer contains a module that matches the old NISV immix data with the imported GTAA conceptSchemes. The matching can be done using SPARQL update in a reasonable time. So far, only the smallest conceptSchemes have been tested and only for catalogs that were not huge, but

[2019-12-09 15:06] mwigham commented on #12
Do we still need a completeness metric given that there is no matching needed for DAAN? If it is incomplete, then that is due to the data not being present in DAAN. Is that of interest?

[2019-12-09 15:43] wmelder commented on #12
if you think not than better close this story.

[2019-12-09 18:11] #12 closed

[2019-12-13 14:28] wmelder commented on #38
I could spend a lot more time at this review, but I won't. Here are some remarks:
- Most mappings seem accurate, but some still raise choice questions.
- I would really much appreciate it if the ordering of fields was more prioritized (like the creative works first, or whatever). The acceptance criteria contains a minimal requirement. Why not list this first and then continue with the rest? This w

[2019-12-13 14:35] mwigham commented on #38
@wmelder Thanks very much for the review. Could you please indicate which of your points I need to tackle in this issue, and which should be for future issues?

[2019-12-13 15:04] wmelder commented on #38
@mwigham
For making this document better readable and usable my suggestion is to:
- [ ] Add a column 'NISV schema' that can contain the element URI values.
- [ ] For each element from the 'immix field' column add the target class or property (URI values). - [ ] When values are the same, group the rows, merge the cells from the 'nisv schema' column and merge the cels in the 'schema.org field' so th

[2019-12-13 15:26] mwigham commented on #38
@wmelder Thanks, I'll address those points and then create new issue(s) for the rest.

[2019-12-20 10:37] mwigham commented on #38
@wmelder I've reorganised the spreadsheet, can you look and see if it is better now please? I decided not to merge the cells as that messes things up if we want to sort on different values, this way the spreadsheet stays flexible.

[2019-12-20 10:39] mwigham opened #67 "As a linked data developer, I want the schema.org mapping to be reviewed by metadata experts"
We have an initial mapping for our nisv schema to schema.org. This needs to be reviewed by metadata experts

Acceptance criteria
- [ ] Metadata expert(s) Tim, Vincent, Marjolein or Kim consider the mapping to be a reasonable initial version

[2019-12-20 10:41] mwigham opened #68 "As a linked data developer, I want to map the DAAN ipr fields to schema.org"
The current schema.org mapping for our NISV schema does not include the IPR fields. Now that we have a better understanding of these fields, we should try to map them to schema.org

[2019-12-20 10:45] mwigham opened #69 "As a linked data developer, I want to update the schema.org mapping for DAAN"
We have an [initial mapping](https://docs.google.com/document/d/1ujma9R8kq5X9M1pg-o-Hl8cv9rvtpHSwl3sFZ2ONPRU/edit) of the NISV schema to schema.org. This was created based on iMMIx, and so may need slight changes now that we are using DAAN data. It is expected that the larger part will remain the same, as the aim when creating the NISV schema was to abstract from the exact storage system details.

[2020-01-06 08:38] jblom commented on #38
@wmelder yeah would be great to wrap this one up, so we can also get rid of it on the board

[2020-01-06 15:45] wmelder commented on #38
@mwigham The document, spreadsheet, rdfs file are looking very good. It is hard to 'finish' reviewing, but for now I think it was thorough enough. We have a spreadsheet that lists the mappings for the main fields needed for linked data to schema.org. These mappings are already manifested in a Turtle document containg the RDFS subClassOf and subPropertyOf definitions. While we were working on this

[2020-01-06 16:03] jblom commented on #38
@wmelder @mwigham ok nice to see it's reviewed (as far as possible). We can create new issues later on. Closing this one yay

[2020-01-06 16:03] #38 closed

[2020-01-07 09:01] #40 closed

[2020-01-07 09:05] #56 closed

[2020-01-10 09:39] mwigham commented on #61
[Document ](https://docs.google.com/document/d/1vQ_Ip39hrLvpDUqAK9e18C71iQbVqxTRckwxxNqL5cE/edit?usp=sharing) is completed, will ask Jesse for review

[2020-01-21 07:58] mwigham commented on #55
For review @jwassenaarbg @wmelder, please read the [comparison](https://github.com/beeldengeluid/beng-lod-server/wiki/Comparing-OAI-PMH-and-Backbone-Importer-for-DAAN-RDF-pipeline) and comment on:
- [ ] Do you agree with the content?
- [ ] Is anything missing that we can investigate at this stage?(i.e. without having concrete user applications to compare the options for)

[2020-01-29 10:01] jblom commented on #55
@wmelder @jwassenaarbg just a reminder to review this for @mwigham and "the greater good!"

[2020-01-29 10:14] jblom commented on #61
@mwigham any update on the review? Can we close?

[2020-01-29 11:13] mwigham commented on #61
@jblom I have one additional action from the reviewer, hoping to do that this week

[2020-01-29 16:58] roelandordelman commented on #7
@wmelder @jblom kunnen jullie aan deze EPIC toevoegen waar het vanuit gebruikersperspectief concreet naar toe werkt? Kan een een concreet onderdeel van een keten richting een gebruiksdoel zijn. Linked Data Sandbox is een beetje vaag. Dank. (dit in kader van alle EPICS revisen)

[2020-01-31 13:31] mwigham commented on #61
Action complete, closing issue

[2020-01-31 13:31] #61 closed

[2020-02-03 08:46] mwigham opened #70 "As a Linked Data developer, I want to use other schemas in developing our NISV schema"
Continuing from remark in issue #34

Although you already investigated a lot, making a note here that with respect to the modelling of the Programs, Series, Carriers, etc. we need to further inspect and freely reuse some of the ideas from

    FRBR,
    IFLA-LRM, and
    PREMIS-OWL
    schema.org

It seems objects, events, persons, organisations, clips with associatedMedia, works (or endeavours) a

[2020-02-03 10:47] mwigham opened #71 "As LD engineer, I want to experiment with using the object type to query Person and Place information"
We want to be able to search for all People (or all Place) entities related to a programme at the same time, despite these being divided over different properties (e.g. hasCreator, hasSpeaker).

One option is to avoid the need to specify the property type by using the object type to query. Objects linked by person-related properties are defined as the object type Person, so we can search on that.

[2020-02-07 13:58] mwigham commented on #64
The tests are documented on the [wiki](https://github.com/beeldengeluid/beng-lod-server/wiki/RML-mapper). @wmelder can you look and see if the findings are clear, and if you have additional questions to include in further tests?

[2020-02-18 10:46] wmelder commented on #64
Thanks for looking into this @mwigham. By looking at your findings (I haven't installed the java code myself), it seems not opportune to proceed using RML as it is now. Unless the trouble we have to go through without RML is even bigger, it seems better to let it rest. For now.

[2020-02-18 11:43] mwigham commented on #64
Thanks @wmelder. Just for the record, can you indicate which of the findings are most decisive for your conclusion?

[2020-02-19 10:20] wmelder commented on #64
@mwigham The negative points in the list on the wiki give the idea that the product is not mature enough. Ofcourse, if your verdict on the software is that it is usable and reliable we still can use it. From your findings I got the idea RML seems promising, but the 'standard' (or at least the software) is not really living up to the expectations.

[2020-02-20 11:07] #48 closed

[2020-02-20 11:54] #64 closed

[2020-02-20 12:08] jblom commented on #50
@jwassenaarbg and @wmelder could you please finish the review for @mwigham ?

[2020-02-24 08:23] mwigham commented on #64
@wmelder Yes, that is the impression I get at present, that it's a good standard and tool that need further development still. We could already work with it, but with certain difficulties. So if we find those difficulties more trouble than it is worth, then we should leave it for now. We can keep an eye on the development and pick it up later on.

[2020-03-02 14:55] mwigham commented on #16
Note: we are leaving the carriers (items) out of the triplestore at present, as they cause performance issues and it is unclear if they would ever be queried in a linked data use case. However, we should not exclude them from the lod server, as this doesn't cause performance issues, and it allows the metadata for the carriers to be retrieved via a URI, which is useful for e.g. Nanne

[2020-03-04 15:47] wmelder commented on #55
@mwigham The initial comparison seems very reasonable!

These comparisons might be added:
* whether the required metadata is available for both options. For example, the subtitle information is not part of the OAI-PMH, but might be available from the backbone. Also, rights information might be available for DAAN backbone, but not (yet) in the OAI-PMH provider.
* time it takes to complete the initi

[2020-03-05 08:41] wmelder opened #72 "As developer I need to upgrade the flask-restplus packages."
See remarks from Jaap:
https://beng.slack.com/archives/C03US5JSW/p1582554613005000
the package flask-restplus is succeeded by flask-restx

[2020-03-06 09:12] mwigham commented on #55
@wmelder we can't compare the 4.5 days to the 20 days, as the data we are loading from the backbone includes all the carriers and logtracks, which the iMMix data didn't have. As scene descriptions are (unfortunately) logtrack items, we can't just ignore logtrack items entirely. So both the beng-lod-server and the backbone importer would need to retrieve/receive logtrack items, check their type, an

[2020-03-06 10:06] wmelder commented on #55
@mwigham comparison between initial load via OAI-PMH and backbone would be possible, wouldn't it? Maybe for the OAI-PMH option you would be able to skip the sets that aren't needed? For both an estimate in total loading time could be added. In case these values are very different, one option could be preferred over the other.

[2020-03-06 10:13] mwigham commented on #55
@wmelder It's not possible to skip the sets in OAI-PMH, as the sets are not more specific than 'logtrack item', unfortunately. The difference in loading time therefore comes down to how quickly the two methods can skip messages. I could measure that in order to compare. Estimating the total loading time is difficult, as I don't know how many messages they would be receiving, and how many of those

[2020-03-09 08:24] jblom commented on #72
@wmelder already done it for you, so closing

[2020-03-09 08:24] #72 closed

[2020-03-09 10:52] wmelder commented on #55
@mwigham I guess it has to be a posteriori 'estimates' then... It would be good to have at least some indication what loading times to expect for each method.

[2020-03-09 14:50] wmelder commented on #55
@mwigham Why does the table state that for both option reconciliation is necessary, while the DAAN data in fact contains the skos:notation value, so that URI's can be reconstructed?

[2020-03-10 07:30] mwigham commented on #55
Reconciliation is performed as part of the method, as the comment indicates. So perhaps 'reconciliation' is not the appropriate term, what I mean here is that the GTAA URIs are used in the data.

[2020-03-12 14:22] wmelder commented on #50
@mwigham could you please merge the branch with master? There has been an update with flask-restx on master and the local merge with master gives me too many errors..

[2020-03-12 15:18] wmelder commented on #50
@mwigham It seems I can run the server from within Pycharm, although it doesn't pass the unittests on commit. So, I think I can continue testing.

[2020-03-12 15:21] mwigham commented on #50
Ok. I'm trying to fix the unit tests, but there is something up with the
application settings, I'm not sure where the application is loading them
from, but they're not the right ones :(

Op do 12 mrt. 2020 om 16:18 schreef Willem Melder <notifications@github.com

[2020-03-13 11:50] wmelder commented on #50
application settings are loaded from settings-example.py. Therefor these settings need to be updated.

[2020-03-13 12:43] wmelder commented on #50
@mwigham
`STORAGE_BASE_URL = 'http://acc-app-bng-01.beeldengeluid.nl:8101'` toegevoegd aan settings.
Alle voorbeelden geven een internal server error en een foutmelding:
`urllib.error.HTTPError: HTTP Error 404: Not Found`

[2020-03-13 12:53] mwigham commented on #50
I have fixed various bugs due to paths using '/' as a separator, and
differences in format between OAI-PMH and the Storage API. We will need to
later look at how we can better separate the code for these two methods, if
we continue to use both. I have checked this in, this should now run fine,
let me know otherwise please

Op vr 13 mrt. 2020 om 13:43 schreef Willem Melder <notifications@github.com

[2020-03-13 13:19] wmelder commented on #50
still get errors... I tried to use curl on the command line, but the same...
here is the error log...
[response_1584104868826.txt](https://github.com/beeldengeluid/beng-lod-server/files/4329773/response_1584104868826.txt)

[2020-03-16 08:51] mwigham commented on #50
@wmelder I've fixed the unit tests and checked the code in again, could you try again to run it please?

[2020-03-20 16:07] wmelder commented on #50
@mwigham I pulled ans started the server locally.
again it fails...
127.0.0.1 - - [20/Mar/2020 16:45:45] "GET /resource/ITEM/2101708190021663421 HTTP/1.1" 500 -
then from the stack trace , urllib.error.HTTPError: HTTP Error 404: Not Found

what is wrong?

[2020-03-23 07:56] jwassenaarbg commented on #50
Are you sure the mocking works as expected? Because normally you shouldn't do the actual calls and an HTTP error looks like it tried to do something

[2020-03-23 09:48] wmelder commented on #50
The beng-lod server does look up the URL for the resource, but in the storage API.
Maybe the id for the example programs is not in the data? I tried Studio, but could find the item. Doesn't anything though, but if it really does not exist, then maybe even the response 404 is actually correct... Could anyone check the examples?

[2020-03-26 15:26] mwigham commented on #50
@wmelder The examples do indeed not exist any more, which is a pain... Here are some new ones:
PROGRAM 2102003230266000731
ITEM 2102003230802977821
PROGRAM 2102003260266088931
ITEM 2102003260803448721

I have also changed the code to give a nicer response when a concept does not exist, could you please test this too?

[2020-03-26 17:03] wmelder commented on #50
@mwigham All PROGRAMS and ITEM URI's return data. 🥂

* Noticed that rendering the programs was not really fast (not slow either). Maybe we can time the pipeline to find out how much time is spent where.
* The items don't have a @graph element (could be that it is still valid without, when only one resource is in the data).
* I was wondering how to find out whether proper (non-)GTAA URI's are provi

[2020-03-27 07:13] mwigham commented on #50
@wmelder that's good news, thanks for testing. Regarding your other feedback:
- The performance has taken a serious knock from being done at a distance via VPNs, it is much faster onsite at beng
- I don't have experience with @graph elements, if we need that then we can discuss how to add it
- Title is currently not modelled as a SKOS concept in the schema, that is why the season title ends up bei

[2020-03-27 07:20] mwigham opened #73 "As an LD engineer, I want Titles to use the thesaurus concepts, so that finding items with the same series title is easier"
Currently, titles are modelled as blank nodes. They should use the Title thesaurus identifiers, so that it is e.g. easy to find all items in the same series, by specifying an ID instead of string matching.

Tasks
- [ ] Modify the schema so that Title is a SKOS concept
- [ ] Modify the mapping code in the backbone and OAI-PMH versions to treat Title as a thesaurus concept
- [ ] Test

Acceptance cri

[2020-03-27 07:39] mwigham commented on #50
@wmelder can this issue be closed?

[2020-03-27 07:56] wmelder commented on #50
@mwigham Yes, I think you can close this issue (or at least put the status to done).
The only thing I am not sure about is the JSON-LD without @graph, but since you use rdflib to serialize I guess it will be fine. See [here](https://w3c.github.io/json-ld-syntax/#json-ld-grammar) for some more information on the graph element.

[2020-03-27 08:11] mwigham commented on #50
@wmelder Thanks for the link. Looks like we don't have to have it, as we don't have multiple graphs and aren't referring to the graph as a whole. As you say, rdflib does the serialisation and doesn't add it in. But we can always pick it up later if we feel it would be more correct.

[2020-04-02 12:25] wmelder commented on #29
I have already found the way to query the triple store to realize this... Now I need to relate that query more to this issue and report on it.

[2020-04-02 12:35] wmelder commented on #65
also needed for using the schema information within the graph

[2020-04-02 12:40] wmelder commented on #30
This has been done in this issue: https://github.com/beeldengeluid/lod-importer/issues/8

[2020-04-02 12:40] #30 closed

[2020-04-03 13:03] #50 closed

[2020-04-08 14:26] wmelder commented on #71
This is the same as #29, which is done. Example queries are available in the branch grlc-api.

[2020-04-09 12:51] wmelder commented on #60
http://data.rdlabs.beeldengeluid.nl/html-schema/ is already referring to the HTML schema eduardo created.

[2020-04-14 12:55] wmelder commented on #60
@jblom even een vraagje voor jou als Flask guru :wink:... Als ik de html pages voor het schema in de beng-lod-server dynamisch laat genereren met [ontospy ](http://lambdamusic.github.io/Ontospy/)krijg ik een website met statische html en javascript (zie bijv. [hier](http://www.michelepasin.org/support/ontospy-examples/schema_org_topbraidttl/index.html)). Ik probeer deze vanuit de beng-lod-server t

[2020-04-15 09:39] wmelder commented on #60
@jblom show me your static tricks!

[2020-04-16 12:04] wmelder commented on #65
added routes to point to:
- the HTML representation in the Ontology => same problem with flask propagating the route.
- the RDF data (retrieved from the triple store) => Flask giving problems since the rdflib Resource class conflicts with the flaskx Resource class.

To be solved in the next sprint.

[2020-04-16 12:12] wmelder commented on #11
think we have tackled this... closing it..

[2020-04-16 12:12] #11 closed

[2020-04-16 12:23] jblom commented on #15
@wmelder let's try to make this a simpler story that can be finished in a sprint

[2020-04-16 12:24] wmelder commented on #15
make a new story on implementation schema.org mapping
@wmelder wmelder

[2020-04-16 13:18] jblom commented on #60
@wmelder ok show me where to look and I'll check it out and fix ittttt!

[2020-04-16 14:31] jblom commented on #60
@wmelder ah see your comment now. WIll check it nowwww

[2020-04-16 15:51] wmelder commented on #60
@jblom Great you looked into it... The home page already did seem to be shown properly, but it seems the entities-az.html page is still not ok. Does it look ok with you?

[2020-04-16 17:36] jblom commented on #60
yes it works for me. Did you checkout your branch? Did not merge it with master.
<img width="1177" alt="Schermafbeelding 2020-04-16 om 19 35 01" src="https://user-images.githubusercontent.com/917310/79488069-74c7a480-8019-11ea-8e23-d03e788ce633.png">

<img width="960" alt="Schermafbeelding 2020-04-16 om 19 32 22" src="https://user-images.githubusercontent.com/917310/79488085-7c874900-8019-11ea-90e

[2020-04-17 13:10] wmelder commented on #60
@mwigham Could you have a look at:

-  the Ontospy-generated [documentation pages for the NISV scheme](http://data.rdlabs.beeldengeluid.nl/docs/)?

- the [HTML representation](http://data.rdlabs.beeldengeluid.nl/html-schema/) that Eduardo build?

Is there anything missing (except for the pages being available in Dutch) in the Ontospy representation that Eduardo's version does have?

What is your p

[2020-04-20 11:17] wmelder commented on #65
@mwigham

You can ask for the resource in turtle format and then the response is turtle. Otherwise the response is an HTML page.

Jaap is asked for review, because locally the static HTML files don't seem to load in my browser...

## testplan
- checkout the feature branch feature/resolve_schema_uris_#65 and see if it behaves like you would expect.
- You need to set the accept type in your request

[2020-04-20 14:56] jblom commented on #65
@wmelder will review this more properly later, but one thing is that it is not nice (imho) to use a redirect from `http://data.rdlabs.beeldengeluid.nl/schema/Person` to `http://data.rdlabs.beeldengeluid.nl/docs/class-nisvperson.html`.

The downside is that the calling client needs to be able to follow a redirect, just to get the data. Also: a browser user will see the path change in the address ba

[2020-04-21 12:41] wmelder commented on #65
@jblom I seems to be the best practice for LD to redirect a URI to a representation for that resource. Consider the fact that the URI can actually be referring to something in the real world ('a person from flesh and blood'). Some web server can never give you that in the response, but it can give you a digital representation of facts on that resource. It is even willingly to redirect you to the U

[2020-04-22 10:58] wmelder commented on #65
I prepared the paths for the docs to check out at /schema/. All resources now also checkout with their URI /schema/<resource_name>. All looks nice now. It does still redirect, but I think that's fine.
Will do a pull request for review.

[2020-04-23 10:10] roelandordelman commented on #29
@wmelder this one is in done but acceptance criteria are still unchecked. I prepared this text for the release notes:

- We are working on preparing the data and infrastructure to make it possible to use **Linked Data** concepts within the Media Suite and the CLARIAH infrastructure. The past weeks we have been evaluating querying the NISV data using  properties related to the involvement of Person

[2020-04-23 10:15] #71 closed

[2020-04-24 12:59] mwigham commented on #60
@wmelder I've compared the two methods. What I miss in ontospy compared to Eduardo's code is:
- Dutch labels and descriptions (as you already mentioned)
- A list of the classes, their labels and their descriptions (so missing labels/descriptions are quickly spotted)
- The option to tailor the code, e.g. filtering out concepts, or making it possible to edit

The first two points are mainly importan

[2020-04-24 16:40] wmelder commented on #60
Ontospy doesn't have this, but a list of classes/properties and their labels/description can be generated from the graph.

Agree. No results when looking for 'language' in the code, so it doesn't appear to be a supported feature. Maybe feeding an all Dutch schema version would result in Dutch pages? Tha would be nice.

Yes, indeed. No editing.

Do you think that the current schema is too complex?

[2020-04-29 12:08] wmelder opened #76 "EPIC: Clariah micro apps that show the added value of linked data"
##
Within Clariah more datasets need to be connected, so that the goals for the whole clariah program are met. More cross collection search.

##
To start of, we can create some 'micro'-apps that show some of the benefits and some of the scenarios where interlinked data has added value. Primarily, these use cases will be organised around the entities that are typically present in every individual d

[2020-04-29 12:15] wmelder opened #77 "EPIC: As developer I need to create a small app with GTAA/Persons and Wikidata to show LOD added value"
## Context
Within Clariah more datasets need to be connected, so that the goals for the whole clariah program are met. More cross collection search.

To start of, we can create some 'micro'-apps that show some of the benefits and some of the scenarios where interlinked data has added value. Primarily, these use cases will be organised around the entities that are typically present in every individ

[2020-04-30 12:16] wmelder commented on #65
will merge this now and put it in done

[2020-05-14 12:10] wmelder commented on #77
flask/vue.js and chrome give CORS problems.
now continue with flask/jinja2/bootstrap

[2020-05-14 13:02] wmelder commented on #76
for each micro app an apic will be created. Now, #77 is converted to EPIC. This EPIC #76 is now obsolete.

[2020-05-14 13:02] #76 closed

[2020-05-28 12:59] jblom commented on #77
@wmelder can you please let us know what you want to do with this epic? Does it require a review?

[2020-05-29 11:28] #29 closed

[2020-05-29 11:28] #60 closed

[2020-05-29 11:28] #65 closed

[2020-06-08 13:54] mwigham commented on #44
The queries have been adapted to the new hasEntityInRole structure, so that all possible properties (creator, guest, speaker etc.) can be retrieved at once. This results in a big hit in performance. For example, retrieving programs for a person takes more than a minute. Splitting the request up into two queries, one to get all properties, and then a second to get all persons related with each of t

[2020-06-09 06:26] mwigham commented on #44
The current queries do not pick up personnames, as these use the relation 'hasEntityInRole'. and we search for relations that are subproperties of 'hasEntityInRole'. We need to consider whether we fix this in the query or in the schema.

[2020-06-09 06:49] mwigham opened #79 "As a LD user/developer, I want to retrieve personname relations together with other person relations, such as creator"
At present, we can retrieve almost all person relations by querying on relations that are subproperties of 'hasEntityInRole'.  This does not, however, work with personname relations as these use hasEntityInRole directly. There are various possible solutions for this:

* Query with a UNION to also query on 'hasEntityInRole' (potential performance problems)
* Define hasEntityInRole in the schema as

[2020-06-09 08:04] jblom commented on #79
@mwigham sounds like it might be also a good idea to consider specifying a subProperty (of `hasEntityInRole`) for person names?

I'd say it is nice to consistently use the `hasEntityInRole` as an "interface" for querying, but never for directly linking resources. So `hasEntityInRole` is a kind of abstract property that is only for making it possible to query all kinds of subProperties in one go.

[2020-06-09 08:21] mwigham commented on #44
The queries work (with the exception of the issues noted above). Note: role names are returned in both languages, I have left it like this for now so that the client can choose and filter, later we can change this if we want. As Liliana is sadly no longer around for evaluation, I suggest we save that step for when we use this functionality in a test app.

[2020-06-09 09:43] mwigham commented on #79
definitely a good option. We need to find a good name for it though...

[2020-06-11 12:25] wmelder opened #80 "EPIC: Enable Media Suite users to filter data based on politics properties"
Politicus browser:

Het doel van een politicus browser is om het makkelijker te maken om politiek-getinte materiaal te vinden of analyseren in de Media Suite. Wij hebben geen informatie over politici in de Media Suite, maar de GTAA en WikiData geven wel aan wie een politicus is, welke partij hij lid van is enz. Deze informatie kunnen we gebruiken om Media Suite users het makkelijker te maken. Zo k

[2020-06-12 11:23] wmelder opened #82 "As a developer I need to create an app in Flask for the politicus browser"
- [x] create app in flask
- [x] create initial HTML page with search bar
- [x] create a model for the app data (JSON)
- [x] link the search bar to the GTAA queries

[2020-06-12 11:25] jblom commented on #82
@wmelder als je netjes de structuur van b.v. de beng-lod-server flask app overneemt, kunnen we het ook weer makkelijk met die poppenspeler installeren onder een subdomeintje van rdlabs

[2020-06-12 11:26] wmelder opened #83 "As developer I need to create the wikidata queries for the politics browser"
For the politics browser, we want to retrieve political information about a given person in the GTAA from wikidata.
Tasks:
- [x] create the wikidata queries
- [x] work out how to call wikidata from grlc (NOTE: query limits and requires token)
- [x] put the wikidata queries in grlc

Acceptance criteria
- [ ] The queries return the desired information about a person (where present), and run in grlc

[2020-06-12 11:28] wmelder opened #84 "As a developer I need present the politics data in an HTML view"
- [x] fill the model with the result data from the queries
- [x] build an HTML template for the results
- [x] build a tagcloud given the subject information
- [x] OPTIONAL show the political aligment in a spectrum

[2020-06-12 11:31] wmelder opened #85 "As developer I need to discuss and realize added value for Media Suite users"
- [ ] report on the usability of the politician browser
* app vs notebook
* wikidata properties
* grlc queries (test, via search api, incl user-agent)
* field research (hoe doen anderen dit?)

- [ ] research how aggregate queries can be faster
* investigate elasticsearch equivalent queries
* e.g. virtuoso, neo4j

- [ ] discuss integration issues for the Media Suite

[2020-06-12 11:38] jblom commented on #15
@mwigham @wmelder closing this one, since it is a bit too ambitious for the short term. If you disagree, please reopen and refine this issue, so it is more likely to be worked on

[2020-06-12 11:38] #15 closed

[2020-06-12 11:40] #44 closed

[2020-06-12 11:45] jblom commented on #44
@mwigham closed this one and your last comment gave me the idea that it might be useful to create a kind of simple index, on a web page, that shows an overview of all your notebooks with a title and short summary of what they do. Heck it might be even indexed as a separate collection in the media suite, so we can search for it ;-)

Just to spark your imagination on this one.

Mainly this comes fro

[2020-06-12 12:58] wmelder commented on #77
- besproken met Mari en Roeland
- demo komt aan bod tijdens LOD workshop
- zie lessons learned above

[2020-06-12 12:58] #77 closed

[2020-06-12 13:00] mwigham commented on #83
@wmelder I've limited this issue to the wikidata queries, as I think they already earn their own issue.

[2020-06-12 13:01] mwigham opened #86 "As developer, I need to create NISV queries for the politician browser"
Tasks:
- [ ] identify which additional queries we need to support the functionality of the politician browser
- [ ] create these queries in grlc
- [ ] test the queries

Acceptance criteria:
- [ ] The queries return the information needed for the politican browser, via grlc

[2020-06-12 13:11] wmelder commented on #83
prima

[2020-06-12 13:48] jblom commented on #77
@wmelder nice!

[2020-06-15 06:39] mwigham commented on #44
@jblom for internal or external use? If internal, then I can put them on the labs-notebooks wiki, with a link from the x-omgeving wiki if that is helpful. I can also beef up the brief descriptions currently in the repository README. However, as some notebooks that may be useful (for reference, not for reuse) are not checked in there, then that might be too limited.

[2020-06-16 05:47] mwigham commented on #83
Note: User-Agent (required for wikidata access) is [filled in automatically](https://sparqlwrapper.readthedocs.io/en/stable/SPARQLWrapper.Wrapper.html) by the SPARQLWrapper that we use to execute grlc queries. Should this not be enough, then we can set it when we create the SPARQLWrapper in SPARQLEndpointHandler

[2020-06-16 07:05] wmelder commented on #83
@mwigham  don't understand. Are we using SPARQLWrapper to execute grlc queries? Grlc supposedly exposes these queris as REST API endpoints, so why use SPARQLWrapper?

[2020-06-16 07:37] jblom commented on #83
@wmelder grlc only does this when you use the grcl webserver. We only use grlc to interface with the stored queries (list them & fetch them, but execute them ourselves)

[2020-06-16 07:39] jblom commented on #83
@wmelder @mwigham it is of course possble to host a grlc server ourselves. That way the search API could interact with those APIs instead of executing the queries itself.

Something to think about

[2020-06-16 08:05] wmelder commented on #83
Doesn't make sense for me to say we use grlc and in the meantime store, fetch and execute those queries ourselves.

The whole idea of grlc is that using the syntax of SPARQL plus some extra features like sparql url, grlc prepares a complete REST API for you. Don't need to think about that ;-)

So, I was expecting indeed we ran a grlc server that serves us our queries. I don't know what it takes to

[2020-06-16 08:11] jblom commented on #83
@wmelder maybe yes, I'm also pretty sure our code dates back from before grlc had this web server part.

Let's check this a bit more and talk about it, so we are also prepared for it when we'll do the grlc session (see mail)

[2020-06-16 14:09] mwigham commented on #83
Definitely a good idea to look into what the pros and cons are of using a grlc server vs. grlc as a library. And also a good topic for the grlc session, particularly to check details such as if we can set things like User-Agent when using grlc as a server.

For now, I have created a query `getWDPoliticalInfoForPerson` which uses our current grlc implementation. This takes a gtaa identifier as inpu

[2020-06-19 13:24] mwigham commented on #44
@jblom I've made this [wiki page](https://github.com/beeldengeluid/labs-notebooks/wiki) a central point for the notebooks. It lists the locations of notebooks, describes briefly what they do, and links to more details where appropriate

[2020-06-19 13:46] mwigham opened #87 "As a developer, I need to generate statistics about the political alignments represented by the persons in a set of programme search results"
Tasks:
- [x] Create a wikidata query to get all the possible political alignment
- [x] For a set of program IDs, get all the people in the programs
- [x] For each person, use the Wikidata grlc queries to get their political alignment
- [x] Create statistics for the set of results, including people who are not in wikidata, and people without an alignment
- [x] Test the code in a notebook

Acceptanc

[2020-06-22 08:38] jblom commented on #44
@mwigham this is a nice notebook hub, thanks. When we are farther with a means to provide access we can use this overview as a basis for building a nice HTML page dedicated to notebooks (e.g. as part of the labs.beeldengeluid.nl site)

@roelandordelman ping (just dropping an idea here)

[2020-06-24 11:01] mwigham opened #88 "As a developer, I need to write grlc queries that make it possible to find GTAA persons meeting certain political criteria"
Currently, users can search for programmes with a certain person based on their name. They cannot find programs based on broader criteria, e.g. programmes with members of the political party CDA. A wikidata query that returns GTAA identifiers of persons meeting certain political criteria would make this possible.

Tasks:
 - [x] Write wikidata grlc queries to find GTAA identifiers of persons meetin

[2020-06-24 11:56] mwigham commented on #87
The queries have been written and are in the sparq-queries repo, a demo notebook can be found [here](https://drive.google.com/file/d/1EQpA9RgMo4hj1LsfC_pxhrRi4X5ojtdR/view?usp=sharing).

While working out the demo notebook, a number of questions arose that should be discussed with users at a later point:
- count number of persons or number of  appearances?
- count people once per program, or does

[2020-06-29 14:13] wmelder commented on #83
@jblom I need this: https://search-test.rdlabs.beeldengeluid.nl/api/v1.1/lod/grlc/GH_USER/GH_REPO?at=JOUW_TOKEN&cid=JOUW_CLIENT_ID

[2020-07-06 09:07] mwigham commented on #88
@wmelder could you test this please?
Test plan:
- [ ] Check out grlc-caching-120 branch of labs-search-api
- [ ] Run this locally, and open the API page in your browser
- [ ] go to POST
​/api​/v1.1​/lod​/grlc​/{user}​/{repo}​/{query}​/, click on 'Try it out', and enter your ID and token (usual ones for the search API)
- [ ] Enter the following pairs of values for query and payload, and check that

[2020-07-06 09:21] mwigham commented on #88
Here is an example for programs containing politicians from the VVD:
![image](https://user-images.githubusercontent.com/38520885/86577368-66cf5300-bf7a-11ea-9e07-534a1da83dca.png)
 and for extreme-right politicians:
![image](https://user-images.githubusercontent.com/38520885/86577419-7c447d00-bf7a-11ea-832b-60497902efae.png)

It is odd that so many titles are not present, I will create an issue to

[2020-07-06 09:24] mwigham opened #89 "As an LD developer, I want to know why so many programmes are missing titles in the triplestore"
Many programmes in the triple store are missing a title, e.g. 5331908@program http://data.rdlabs.beeldengeluid.nl/resource/program/5331908

Tasks:
- [ ] Check how many programmes are missing a title
- [ ] Check a sample to see if they have a title in the Media Suite
- [ ] For programmes with a title in the Media Suite and not in the triplestore, try to identify why this is

Acceptance criteria:
-

[2020-07-06 13:02] wmelder commented on #88
[code]
I think I found (just slightly discovering this matter some time ago) that when a title is missing, the season or series title is a good alternative. Properly also a reason why they didn't provide a program title: via hierarchy the title is derived.

[2020-07-06 13:34] mwigham commented on #88
This is certainly a good alternative when the program title is missing. If it turns out that is the case for these programs, then we can use the same procedure.

[2020-07-07 13:39] mwigham commented on #80
Ideas for future extension to the political functionality are:
- use speaker labels or face labels to allow distribution over speaker time, screen time
- save the data to the index, allowing political facets in the Media Suite
- use in combination with topics

[2020-07-09 13:09] mwigham commented on #83
closing this, as the underlying code will be reviewed in #88

[2020-07-09 13:09] #83 closed

[2020-07-09 13:10] mwigham commented on #87
@wmelder is this enough for the politician browser for this version?

[2020-07-10 12:26] jblom commented on #88
@wmelder @mwigham does this still need review from Willem?

[2020-07-10 12:38] jblom commented on #88
@mwigham was this story written before Willem's remark? (concerning the missing titles): https://github.com/beeldengeluid/beng-lod-server/issues/89

[2020-07-20 12:24] wmelder commented on #84
One thing left to do: one query asking for subjects in descending order failed. cliopatria doesn't order the results. it does the count for subjects related both to a media item and a politician, but the order it returns the counts is not descending, despite the SPARQL orderby clause.

Also, the HTML view was not filled asynchronously, but by getting the data and returning a renewed derived templa

[2020-07-21 13:32] wmelder commented on #87
yes, more than enough for now.

[2020-07-27 06:26] mwigham commented on #88
@jblom yes, it was. So that story will probably only require a quick check that this is indeed the reason for the missing titles, and a decision what the appropriate behaviour is for the API - i.e. get series titles in the same query or in a separate query.

Yes, this issues does still need review.

[2020-07-28 05:54] #87 closed

[2020-07-31 08:56] mwigham commented on #86
this work is done in other issues

[2020-07-31 08:56] #86 closed

[2020-08-03 11:10] mwigham commented on #89
Checked the percentage of programmes with a title in the linked data. This is the same as the percentage of programmes with a title _on the programme level_ in the Media Suite data. So there is no problem. When querying the data, we will need to choose whether we only retrieve programme-level titles, leaving gaps, or follow a similar procedure to the Media Suite to find alternative titles from the

[2020-08-03 11:10] #89 closed

[2020-08-04 09:44] wmelder commented on #88
Ik heb het testplan niet doorlopen, maar wel naar de titel issue gekeken:
[code]
 en deze heeft inderdaad wel een serie titel. Het betreft de wereld draait door, dus duidelijk waarom de uitzending zelf geen titel heeft. Zowel season als series heeft een titel:
![image](https://user-images.githubusercontent.com/1220375/89273745-427d9980-d640-11ea-9c0d-1ce8cdaf88e5.png)
![image](https://user-images.

[2020-08-04 09:55] mwigham commented on #88
Bedankt @wmelder , die issue heb ik ook in #89 bekeken en de issue gesloten

[2020-08-12 22:49] wmelder commented on #85
Aggregate queries for subjects and politicians can be replaced with some QueryDSL instead of SPARQL and the replacement is much faster. The point is though, that the data itself is not referring to concepts (or concepts of persons) and thereby we miss the link with the outside world, the network of terms, the linked data cloud, etc, and any outside collections. Further, segments can contain subjec

[2020-08-13 05:43] mwigham commented on #85
Yes, fine to close this.

Which person/politician queries have you replaced with QueryDSL? As far as
subjects go, it's currently not such an issue to not have the concept IDs,
given we have no alignments and therefore no links to the outside world
(and this will most likely be challenging in the future too). But we
certainly need the IDs for persons.

Better support for segments would indeed be ha

[2020-08-13 07:59] jblom commented on #85
@wmelder @mwigham the document is a nice result for this story, so indeed closing this. About searching for segments, we should investigate this separately in a dedicated story.

[2020-08-13 07:59] #85 closed

[2020-09-03 09:23] #82 closed

[2020-09-03 09:23] #84 closed

[2020-09-04 14:25] wmelder commented on #88
@mwigham
Ik heb geprobeerd de grlc-caching-120 branch uit te checken maar die bestaat niet (meer).
is het nog nodig dat ik het testplan doorloop of is deze story achterhaald?

[2020-09-07 07:13] mwigham commented on #88
@willem The branch has since been merged, so you can test this on the master. Thanks!

[2020-09-17 12:50] wmelder opened #90 "As developer I need to define steps to take with the insights coming from Wikimedia scan"
Maybe create a new EPIC for the open data lab that describes how we can improve current workflows using structured data for commons (with Wikidata).

To be discussed with Jesse next week.

[2020-09-29 12:40] mwigham commented on #80
@wmelder do you think we can close this epic? I think we have achieved very nice results which we will take forward in new epics

[2020-09-29 15:19] wmelder commented on #80
@mwigham I think we can close it.

[2020-09-29 15:19] #80 closed

[2020-10-01 11:09] wmelder commented on #90
add to next sprint

[2020-10-09 06:27] mwigham opened #91 "As a developer, I need to create an initial data model for Persons for the new Person graph, so that we can store useful information about persons in the NISV archive"
Tasks:
- [x] Select useful properties from schema.org for modelling a person
- [x] Create and document a model that combines wikidata, GTAA and archive person information

Acceptance criteria: the model stores all the information needed for the v1.0 LD person functionality

Note: As we try the model out we will improve it. We will also extend it with more information. At a later stage, once we are

[2020-10-09 09:12] mwigham commented on #91
The suggested model is in [this spreadsheet](https://docs.google.com/spreadsheets/d/1ELAOYEK6rAPnDTbOpricTKNmTXN1lRZxjI59ehcb7xg/edit?usp=sharing), with some notes about (temporary) design decisions

I suggest that we store the triples from wikidata in a separate graph (we already store the triples from the GTAA in their own graph) and that we select values from wikidata/GTAA to write to the perso

[2020-10-09 09:13] mwigham commented on #91
@wmelder I suggest we defer a proper review for later as this will most likely get changed as we experiment. But if you have a moment to look and see if there is anything that is obviously a bad idea, then that would be great please.

[2020-10-09 09:40] mwigham opened #92 "Technical task: create a combined person graph for individual graphs (e.g. wikidata, GTAA), so we can query person data easily"
From discussion (see comments below) we decided to add mappings to allow combined querying of the graphs, rather than creating a combined graph.
Tasks:
- [x] Create a mapping schema<->wikidata in turtle for the relevant properties
- [x] Create a mapping schema<->gtaa in turtle for the relevant properties
- [x] Upload these to the person triplestore

Acceptance criteria:
- [x] The combined data for

[2020-10-12 09:02] wmelder commented on #91
I do think it is beneficial for us to use schema.org, but we would mutually benefit (Wikidata and us) if we would start reusing and creating ontology alignments for Wikidata and schema.org.

For example this property https://www.wikidata.org/wiki/Property:P106 (the occupation) has an equivalent property https://www.wikidata.org/wiki/Property:P1628 referring to https://schema.org/hasOccupation.

So

[2020-10-13 06:26] mwigham commented on #91
Alignments between wikidata and schema.org are definitely very useful to
the community, but hasn't someone else done this?
I'd be happy to try this out and check how it performs. My only concern is
that we then don't have a way of preferring sources, we then get the
equivalent property from every source and so we get duplicates. Do you have
any thoughts about how we could handle that?

Op ma 12 ok

[2020-10-13 06:40] mwigham commented on #91
Just had a thought, we could combine the two approaches. Copy a selected
set of values from gtaa and wikidata using explicit schema.org properties,
and also store the alignments. Then a query on just schema.org properties
will retrieve the curated set, while a query using inference or
specifying subPropertyOf will retrieve values from all equivalent
properties. What do you think?

Op di 13 okt. 20

[2020-10-13 06:50] wmelder commented on #91
I was thinking just to store the wikidata properties. These have the equivalentProperty and thus using a propertypath you could query for a triple pattern like: some_wd_item wd:equivalentProperty/schema:hasOccupation some_wd_value, being exactly the same as some_wd_item wd:P106 some_wd_value

[2020-10-13 07:05] mwigham commented on #91
That would be possible, but then we limit ourselves to only those GTAA
persons with a Wikidata alignment, which is only 35,000. It seems a bit of
a shame to miss out on the information in the GTAA itself.

Op di 13 okt. 2020 om 08:50 schreef Willem Melder <notifications@github.com

[2020-10-13 12:12] mwigham commented on #92
As we are no longer copying data to the person graph, need to consider whether we need a person graph, or if we use the GTAA as a base. A person in the graph would only consist of an ID with references to other sources - GTAA, wikidata. Disadvantage is that we create a set of new identifiers which only point to other identifiers, advantages are that we could potentially include non-GTAA people (us

[2020-10-14 12:53] wmelder commented on #91
@mwigham After discussing this yesterday, I think it can be closed now.

[2020-10-15 06:59] #91 closed

[2020-10-15 13:05] wmelder opened #93 "As a DAAN user I need thesaurus cleanup batch mutations, so I will get clean high quality data in the future thesaurus system"
This is just a user story as a placeholder for the work being done on the thesaurus. There is a document containing all separate tasks. The repo used to do this work is openskos-scripts, where several batch scripts live.

The document containing several jobs to be processed can be found [here](https://docs.google.com/document/d/1ZyIc-DR8yiX17P-Lz2_bzpgAED05Jlqb8XWCtKFiG94/edit?usp=sharing)

[2020-10-15 13:18] wmelder commented on #90
- [ ] Compile a document (maybe publish on the github) that describes the current solution.

[2020-10-22 11:38] mwigham commented on #92
Having looked into what sort of [queries ](https://docs.google.com/document/d/1RC6yHEs-rYdACBnUfzBNatzgClqhOmmM68MKc959oDQ/edit?usp=sharing)would be required for a version containing a person graph, and a version using the GTAA as a base, I think it will be much easier to create a person graph to facilitate uniform querying.

[2020-10-27 08:01] mwigham commented on #92
After discussion with Willem, while it holds that creating a person graph would enable uniform querying, it would also require us to mint our own identifiers. This rapidly implies responsibilities regarding persistence, resolvability etc. Initially, these identifiers would of course be purely internal, but we would then run into problems later when publishing data.
A nice alternative would be if a

[2020-11-02 11:01] #93 closed

[2020-11-02 11:01] wmelder commented on #93
Issue moved to [beeldengeluid/openskos-scripts #2](https://github.com/beeldengeluid/openskos-scripts/issues/2) via [**ZenHub**](https://www.zenhub.com/)

[2020-11-19 08:46] 85jesse opened #94 "EPIC A"

[2020-11-19 09:38] #94 closed

[2020-11-30 10:11] wmelder commented on #16
https://github.com/beeldengeluid/opendatalab/issues/2#

[2020-11-30 10:12] #16 closed

[2020-12-10 15:20] #92 closed

[2021-01-07 07:29] mwigham opened #95 "Task: Correct the wikidata altLabels in the Person LD store"
At present, the skos:altLabels from wikidata are all merged into one altLabel (see below to get an example). These should be separated into multiple altLabels.

Tasks:
- [ ] Change the import script to write separate altLabels
- [ ] Re-run the import of wikidata information to the person LD store

Acceptance criteria:
- [ ] All the altLabels from a wikidata person are stored as separate altLabels

[2021-01-07 08:01] mwigham opened #96 "As a Media Suite user, I want the person autocomplete function to be reliable, so that I can use it for a high percentage of the time"
Currently we use the OpenSKOS autocomplete API for the person autocomplete function. This has become unreliable. To replace it, we will create our own autocomplete service, probably based on an ES index containing a copy of the thesaurus.

I expect that we will create separate issues for some of these tasks
Tasks:
- [x] Discuss if the ES index is the best option
- [x] Check the age of the current

[2021-01-07 16:10] mwigham commented on #96
@jblom and I will discuss how to approach this in a hangout

[2021-01-15 07:57] mwigham commented on #96
@jblom I've looked at this, and my suggested approach is:
- Create a GTAA Person names index on the test cluster with fresh data from the thesaurus (I've asked Willem for the code he used to create the old index)
- Create an autocomplete endpoint in the Search API (in layered search? or basic search?)
- Call this via ExternalAPI (to keep in line with the other autocomplete functionality)

I'm a li

[2021-01-26 10:16] mwigham commented on #96
@jblom do you perhaps have time to take a quick look at the way I've implemented this in the search API please? Branch 96-local-autocomplete. You don't need to test the code, just look at how it's set up. Once I've made any changes that you suggest then I will put this issue into review with a test plan.

I first made an endpoint that could autocomplete from any index. Then I realised we probably

[2021-01-29 09:45] mwigham opened #98 "Task: Create a production version of the linked data store(s) for the Media Suite"
Currently we use zorin for both development and production linked data. At some point we should set up separate test and production stores to allow us freedom to develop without disrupting users. As we expect to use AWS for this, this is not a trivial step and so needs time and attention.

Tasks
- [ ] Set up production linked data store on AWS (this task will be split into more tasks later)
- [ ]

[2021-02-03 15:48] jblom commented on #96
@mwigham I tested your `96-local-autocomplete` branches and everything works. I scanned the code and it seems quite lean  and to the point, so I do not expect to need a lot of time wrapping up the "local autocomplete" stuff. Oh and I merged the master code in all `96-local-autocomplete` branches, so it is up-to-date with Johannes & my revamp of the labo/search mappings

[2021-02-04 06:27] mwigham commented on #96
Great, thanks!

[2021-02-16 15:36] mwigham commented on #96
closing this as the code has now been released

[2021-02-16 15:36] #96 closed

[2021-04-15 15:03] wmelder opened #106 "Task: Create a DAAN mapping for schema.org"
- [ ] The dataset is published in a standardised format (Schema.org) (#3)
Note: This seems to be a more important requirement than before. The (internal) NISV schema is ideal for mapping all of our data. But for disseminating data is preferable to map the data to the (external) widely in use schema.org
- [x] Try to add content [negotiation by profile](https://www.w3.org/TR/dx-prof-conneg/), instea

[2021-05-20 12:27] wmelder opened #113 "task: add a GPP link to the schema.org data"
https://zoeken.beeldengeluid.nl/program/urn:vme:default:program:2101810040249483931

the program id can be inserted in this pattern :

https://zoeken.beeldengeluid.nl/program/urn:vme:default:program:{program_id}

I chose the schema.org/url property based on information based on the information here: https://schema.org/docs/datamodel.html#mainEntityBackground

it was merged with the schema_persons_

[2021-05-20 14:21] wmelder opened #114 "Change URL paths to be more consistent"
In order to avoid inconsistencies we might change the /resource paths to /catalogue/{level}/{id} or /cat/{level}/{id}. The /resource path indicates a resource and both Concepts and ConceptSchemes are also resources, so this ambiguity shoud be avoided.

I would now like to URI publishing format for the catalogue resources with the datasets. These are published with a path:
/id/{dataset|datacatalog|

[2021-05-21 07:12] mwigham opened #116 "Task: Create a triplestore for DAAN data for the Media Suite"
At present we have a triplestore of iMMix data that we use for the Media Suite, both for linked data for the iMMix index and for the DAAN index. We need a triplestore of DAAN data so that we have up-to-date data and we avoid issues due to mismatches in the data, such as [this one](https://github.com/beeldengeluid/x-omgeving/issues/396).

Tasks:
- [ ] Decide if we need to temporarily have two tripl

[2021-05-21 07:14] mwigham commented on #106
@wmelder can we tighten up the scope of this issue? We are not going to publish the entire dataset as schema in the near future (if ever). Perhaps we can limit it to a mapping for the CC0 fields? That would be appropriate for ODL

[2021-05-21 08:52] wmelder commented on #106
@mwigham I see two options. What do you prefer?
1) Relate the pull request you made for the schema.org persons, locations, etc. to this issue and close this issue once the PR is merged.
2) Or we close this issue now and create a new issue for the PR. The mapping was created already (although not finished completely), so this issue can be closed anyway.

For additional work (other cc0 fields) we ca

[2021-05-21 08:56] mwigham commented on #106
I'm happy with that one too.

[2021-05-21 08:59] wmelder commented on #116
@mwigham there is one already here: http://zorin.beeldengeluid.nl:3023/browse/list_graphs
Will that work for you? It has the nsiv data. I was planning to also load the sdo data in a named graph.

[2021-05-21 09:01] wmelder opened #117 "Task: extend the SDO mapping to persons, organisations, locations and genre."

[2021-05-21 09:03] wmelder commented on #106
The work will continue in; https://github.com/beeldengeluid/beng-lod-server/issues/117

[2021-05-21 09:03] #106 closed

[2021-05-21 09:03] mwigham commented on #116
wow, fantastic! Is it ok to use that one for production?

[2021-05-21 09:04] wmelder commented on #69
@mwigham do you mind closing this one as well?

[2021-05-21 09:08] mwigham commented on #69
yes, this is now duplicated by the new issues

[2021-05-21 09:08] #69 closed

[2021-05-21 09:08] wmelder commented on #116
Well, I was sort of thinking we could use this for testing. Now that we are producing dumps in several formats we might also want to play around with the data. Just to see if it is what we expected.

Is it ok if you just use it now and once you need something for production, we setup a new one?

By the way, this one only contains the RDF for the programs, as we get from the beng-lod server.

[2021-05-21 09:10] mwigham commented on #116
Ok, I understand. This is fine for testing, and indeed handy to play around a bit.
Then we keep this issue open until we have a production version ready.

[2021-05-21 09:16] wmelder commented on #116
for production you might also want a more dynamic updating process in place? Currently, the dump was built on top of the ids from the aggregated index in the media suite. It would already be better if we incorporate all resources (season, series, scene description), but also keep it up to date (delete stuff etc.) using the flex datastore pusher and SPARQL update. But we might also go for weekly du

[2021-05-21 09:18] mwigham commented on #116
Yes, we'll definitely want a good update process too, but that is then a separate issue for later. Having a DAAN-based store for production, even though it's not regularly updated, is already a good step in itself.

[2021-05-21 11:21] jblom commented on #116
I'd say in general we don't have a great production server and automated deployment workflow yet, but in practice we do use zorin for the MS production, so another triplestore on that server qualifies for now.

[2021-05-21 13:49] wmelder opened #118 "Task: extend the daan to schema mapping with showbrowse"
"match": {
"payload.nisv.showbrowse.value": "true"
}
currently op programs in flexstore =>
"hits": {
"total": 36478,

deze programs mogen getoond worden in de GPP, bijv. https://zoeken.beeldengeluid.nl/program/urn:vme:default:program:2101811140250154131
voor dit voorbeeld zie ik echter geen afspeelbare media in de gpp
Deze heeft dat wel: https://zoeken.beeldengeluid.nl/program/urn:vme:default:prog

[2021-05-21 13:50] wmelder commented on #118
de flex datastore url http://prd-es-bng-01.beeldengeluid.nl/head/?base_uri=/es
de query
"query": {
"bool": {
"must": [
{
"match": {
"payload.nisv.showbrowse.value": "true"
}
}
],
"must_not": [ ],
"should": [ ]
}
},
"from": 0,
"size": 10,
"sort": [ ],
"aggs": { }

[2021-05-21 13:51] wmelder commented on #118
uit m ail Time: Voor het afspelen van media is het veld show browse GPP belangrijk.
query is: nisv.showbrowse@program:true

Dit is soms ook materiaal waarvoor bij een download wel een licentie vereist is (bv. vanwege ethische checks, dusws. wil je ook de dictionarywaarde uit het veld nisv.licensecondition@program opnemen in de sets.

[2021-05-21 13:52] wmelder commented on #118
en ook uit mail tim: Overige belangrijke velden / queries zijn nog:
(Publiek domein, weesje of vrijgegeven)

precook.nisv.rightslicense:5 OR precook.nisv.rightslicense: 206 OR precook.nisv.rightslicense: 204 OR nisv.iprcombined@program: 4 OR nisv.iprcombined@program: 205 OR  nisv.iprcombined@program: 206

EN
nisv.licensecondition@program: CC-BY OR nisv.licensecondition@program: CC-BY-NC OR nisv.li

[2021-05-26 13:03] wmelder opened #119 "task: provide license information and rights statement for each catalogue item"
The metadata payload contains several fields that store license information.
Of these, **'nisv.rightslicense'** seems to be closest to some 'machine readable' license.
But, unfortunately, this is not a resolvable URI: 'https://studio.mam.beeldengeluid.nl/api/metadata/dictionary/~nisv-arlicense/2'. Therefore, the question is still whether we can get understandable license information and clear stat

[2021-05-27 05:39] mwigham commented on #66
This has been done in the refactoring of the code that Willem and Jaap did

[2021-05-27 05:39] #66 closed

[2021-05-27 07:52] wmelder commented on #113
https://schema.org/contentUrl actual bytes of the media: a download or streamable link
https://schema.org/conditionsOfAccess
https://schema.org/copyrightNotice
https://schema.org/license a license document
https://schema.org/usageInfo

[2021-05-27 16:06] wmelder commented on #113
the other license related properties will be copied to the issue that handles licens info

[2021-05-27 16:06] wmelder commented on #119
https://schema.org/contentUrl actual bytes of the media: a download or streamable link
https://schema.org/conditionsOfAccess
https://schema.org/copyrightNotice
https://schema.org/license a license document
https://schema.org/usageInfo

[2021-05-31 09:05] wmelder opened #120 "task: add the type of the object (mime_type)"
this is the same as #140

for example: photo, audio, video

- use the property associatedMedia
- create BNode and and type AudioObject, VideoObject, Image Object, etc.
- fill the encodingFormat of MediaObject with 'audio/mp3', 'video/mp4', or whatever else mime_type..
- use DAAN field materialType, for example: ```"payload.nisv.materialtype.resolved_value": "audio"```

CONTEXT
- van vincent: ```Al

[2021-05-31 10:24] wmelder commented on #117
the code was merged. This task can be closed.

[2021-05-31 12:36] wmelder opened #121 "fix: sdo:additionalType in query not available in NISV modelled data"
Please make sure that the code also works for the NISV schema.
the pain is in [this line](https://github.com/beeldengeluid/beng-lod-server/blob/e0d494affdb46e81ace64f13ba781a678fc60f48/src/apis/lod/DAANSchemaImporter.py#L68-L69):

The error message indicates SDO is not known. This is probably because it is not used in the NISV handler
    raise Exception('Unknown namespace prefix : %s' % prefix)
E

[2021-05-31 12:39] wmelder commented on #121
maybe it helps to add the schema prefix to daan-mapping-storage.ttl

[2021-05-31 12:51] wmelder commented on #121
I pushed a fix.

[2021-05-31 13:22] wmelder commented on #121
@mwigham Can you have a look at the fix? Is it complete or do we still miss something. If it is fit for purpose, can put this issue to Done?

[2021-05-31 13:44] wmelder opened #122 "add a sparql endpoint for HDT files"
Archived files can be hosted and queried using https://rdflib.dev/rdflib-hdt/

TODO:
- [x] check out the library code https://rdflib.dev/rdflib-hdt/
- [x] add a route to the beng-lod-server for the HDT sparql endpoint
- [x] server the hdt file for the DAAN catalogue data (good use case)

[2021-06-01 13:06] jblom commented on #4
@wmelder @mwigham this issue is probably outdated (if so please close)

[2021-06-01 13:07] jblom commented on #7
@wmelder @mwigham probably also outdated? (please close if so)

[2021-06-01 13:16] mwigham commented on #4
@jblom no, this is still one for the future. At some point we'll publish our schema and then it needs to be reviewed

[2021-06-01 13:17] mwigham commented on #7
@jblom agree

[2021-06-01 13:43] jblom commented on #4
@mwigham ok clear, keeping it and moving it to the top of the icebox

[2021-06-01 13:43] #7 closed

[2021-06-03 09:49] mwigham commented on #121
That is fine, as the only need for the sdo prefix in this case is to allow the query in the importer to work.

As a note for the future, if we wanted to actually use sdo in the output data, then we would need to add it to the namespace manager of the graph in the relevant **RdfConcept.py file, as is done in SDORdfConcept.py

[2021-06-04 07:21] mwigham commented on #118
@wmelder Sorry, but I don't understand this issue. The title suggests it is to add showbrowse to the mapping, but the comments above seem to be related to the GPP link, which is covered by another issue. Could you describe what work should be done in this issue please?

[2021-06-04 07:53] wmelder commented on #118
@mwigham This issue is meant to be about adding showbrowse to the mapping. Because it was not clear yet how this works with the poprtal etc. there might be some redundant text. So, the gpp link is already taken care of in another issue (but not for season), but the showbrowse value should be added.

[2021-06-04 08:18] mwigham commented on #118
Thanks @wmelder. Do you think we want to actually include showbrowse in the output data, or is it just information that we need in the logic for creating the GPP link? If the latter then I won't map it but will make sure the value is made available to assist in making the link.

[2021-06-04 08:46] wmelder commented on #118
@mwigham It is solely the purpose that we include it in the output data so that users can filter on it. If they only want to use metadata about stuff that is playable on the portal this is a necessary property. It minimizes the risc of disappointments when people search for something and think they find it, but then the door is locked.

[2021-06-04 08:56] mwigham commented on #118
Ok, so we link to the portal no matter what and include information about playability to let the user choose themselves if that is important to them or not.

[2021-06-04 11:17] #88 closed

[2021-06-04 11:18] #113 closed

[2021-06-06 21:04] wmelder commented on #122
The technical guy at NOB actually requested for something llike this. They do not have the capacity to store all of our triples. They want to be cost efficient at their side and only load the stuff that they know they want to publish/link in their portal.

So, if we can set up a sparql endpoint (and give him VPN access for as long as we don't have a public endpoint) we don't need to prepare dumps

[2021-06-07 09:27] wmelder commented on #118
I think the easiest thing to do is to use:
https://schema.org/conditionsOfAccess

Since this field assumes a text message from the archival institute we can put in a message like: "Showbrowse is true/false"

Variations on that message:
"Playable and/or viewable in the General Public Portal. See the item's URL."
"Media is available at the General Public Portal vai the URL of the item."
"This item's

[2021-06-07 09:29] wmelder commented on #118
There is a message at schema.org saying that we can provide feedback on this property, before it is adopted in the standard:
"This term is proposed for full integration into Schema.org, pending implementation feedback and adoption from applications and websites."
We might consider if we have a need for more properties, or advice on this property.

[2021-06-07 09:39] mwigham commented on #118
I think this field gives us the most freedom to accurately describe it. The only practical disadvantage is that users wanting to filter for playable content will have to check the text in their SPARQL queries. We could consider only filling in this field if the content is playable, as then all they need to do is check if the property is present, but this may be confusing for users. In any case we

[2021-06-07 09:54] wmelder commented on #118
if we only fill it when showbrowse is true, then a SPARQL FILTER EXISTS  suffices to filter out the result sets. On the other hand, if we don't fill the cases when the showbrowse is False, we don't make it explicit that is is not playable (and we know that in advance). A SPARQL FILTER (CONTAINS(conditionOfAccess, 'True' ) would be enough to filter, if we model the field like: "Media available in G

[2021-06-07 10:10] mwigham commented on #118
Sounds good. I would suggest we extend the text a little though as even beng colleagues often don't know what the GPP is ;). E.g.:
 "Media playable in the General Public Portal: True. See the item's URL."

Perhaps we can even make it that we only add 'See the item's URL' when the value is True.

The nice side of your idea to use 'contains' is that we can still improve the text later. We should mak

[2021-06-10 14:55] wmelder commented on #122
alternatively, the dataset could also be loaded into a cliopatria store
in both cases, the sparql endpoint should then be hooked up to the search API

[2021-06-24 13:16] mwigham opened #127 "As a participant in Polifonia, I would like an export of the 78 rpm collection as LD, for discussion within the project"
Tasks:
- [x] Check if need any additional fields mapped to cover the key information
- [x] Modify the lod importer to get programmes and logtrackitems for the 78 rpm collection
- [x] Export as Ntriples file

Acceptance criteria:
- [ ] We have an Ntriples file containing the key fields from the 78 rpm collection

[2021-06-24 13:19] mwigham opened #128 "As an LD user, I want a link to OpenBeelden content for an item, so I can view it online"
Tasks
- [ ] modify Johannes' script to get matches between DAAN items and Open Beelden and download the links
- [ ] find a way to use this in the beng lod server to add the links in to the LD for a programme

Acceptance criteria:
- [ ] where a programme is also available in Open Beelden, the link to play it in Open Beelden is included in its LD representation

[2021-07-06 12:55] mwigham commented on #127
Added music style (as schema.org/genre) and rightslicense (as schema.org/license). Keeping the title for the scene descriptions even though there is a doubt about this for cc0, as this export is for the 78 rpm collection so the NPO is not a potential rightsholder.

Checking with Tim about the status of annotation (currently disallowed for cc0) and technical details (not currently listed in the [sp

[2021-07-06 15:13] mwigham commented on #127
I've created an export of 100 records with the current set of cc0 metadata fields. I've sent Jesse an email to check whether this is enough, or whether we need more records/more metadata fields.

[2021-07-06 15:14] mwigham commented on #128
code is checked in, but can't be properly reviewed/merged until I can get my rdflib-hdt issue resolved so that it will run together with the master

[2021-07-09 07:25] wmelder opened #131 "Remove the HDT SPARQL endpoint from the beng-lod-server"
wm: even over het hdt sparql endpoint: het probleem is dat we ook updates van de beng-lod server die niets met hdt te maken hebben niet met master gemerged kunnen worden. dit komt omdat het nu niet mogelijk is om de rdflib-hdt op windows geïnstalleerd te krijgen. de enige mogelijkheid lijkt om WSL te gebruiken. dat integreert dan alleen met pycharm met de professionele versie. andere mogelijkheden

[2021-07-09 07:26] wmelder commented on #131
@jblom kun jij een sparql-hdt repo aanmaken?

[2021-07-09 07:41] wmelder commented on #131
@jblom welke zaken moeten we aan denken voor deployment? verwijderen van de HDT file uit de config in x-omgeving? Dat is dan deze file: https://github.com/beeldengeluid/x-omgeving/blob/master/ansible/files/beng-lod-server/settings-acc.py

[2021-07-09 14:53] wmelder commented on #128
the rdflib-hdt is removed from master and master is merged back into this branch

[2021-07-12 16:18] wmelder commented on #131
Nieuwe repo:
https://github.com/beeldengeluid/beng-lod-hdt

De hdt code is gekopieerd. Nog niet getest (kan niet op Windows)

[2021-08-16 14:27] #131 closed

[2021-08-18 08:08] wmelder commented on #122
Mari tested the HDT endpoint and it seemed only queries containing one triple pattern were succesful. Thus, the endpoint is not really of much use. for now we moved the HDT endpoint to a separate repository (beeldengeluid/beng-lod-hdt), so that development for the beng-lod-server is not hindered.

[2021-08-18 08:08] #122 closed

[2021-08-18 08:10] wmelder commented on #121
We might try to use @vocab for schema.org. But it needs to be tested if things don't fail, because of a default namespace.

[2021-08-18 08:12] wmelder commented on #121
since this issue is labeled as bug and that bug was fixed, close this one.

[2021-08-18 08:12] #121 closed

[2021-08-18 08:54] wmelder commented on #118
I think showbrowse was added, so this issue can be closed

[2021-08-18 08:54] #118 closed

[2021-08-18 10:26] wmelder commented on #114
I would now like to URI publishing format for the catalogue resources with the datasets. These are published with a path:
`/id/{dataset|datacatalog|datadownload}/{some_number}`.

This `/id/` path notation is shorter and it clearly indicates that the URI is an ID of some kind of object.

For the catalogue resources this would mean`/id/{cat_type}/{daan_id}`

This issue will be for resource id's only

[2021-08-18 10:27] wmelder opened #133 "Change the schema path and make version number included"
The schema path might be changed into /cat/schema. This way it is clear that this is the schema for the catalogue. We might even consider to have a version number in the path as well, because we know that things will change in time. So probably /cat/schema/v1.0 or /cat/schema/v{major}{minor} or /cat/schema/{major}{minor}. This way we can keep older versions of the data consistent.

[2021-08-18 10:37] wmelder commented on #114
#14

[2021-08-18 10:43] wmelder commented on #2
It seems that this functionality is (at least partly) implemented in the lod-importer. See: https://github.com/beeldengeluid/lod-importer/wiki

[2021-08-18 15:02] wmelder opened #134 "Change the schema.org Classes for the catalogue data, so that we can better express the hierarchical catalogue structure."
It seems to be that a NISV Program item from the DAAN catalogue gets modelled as a [CreativeWork](https://schema.org/CreativeWork), although it seems to be given a partOfSeries property, that is reserved to the [Episode](https://schema.org/Episode) Class.

`      "@id": "http://data.rdlabs.beeldengeluid.nl/resource/program/2101608170159644631",
      "@type": "https://schema.org/CreativeWork",

[2021-08-18 15:15] wmelder commented on #134
@mwigham Could you please have a look at this issue? Based on comments in the code here: `src/models/SDORdfModel.py:30` I expect that this is something you have already thought about. What do you think about mapping the Classes slightly different? Do you think it is already possible to differentiate for Series? Etc.

Why a change? If we don't model Clip we can't get the scene descriptions in the L

[2021-08-19 05:25] mwigham commented on #134
@wmelder We already model CreativeWorkSeason, CreativeWorkSeries and Clip. So the only change would be the CreativeWork to Episode. My only reservation about doing that is that we also have items such as photographs and documents in the archive, so Episode is a bit too specific for our archive. What do you think?

[2021-08-19 08:53] wmelder commented on #134
@mwigham
It is kind of weird that these photographs are also indexed as 'aggregated_programs' and as program in the DM API. In some respect it would do justice to the assets if we would differentiate whenever we can, for example use https://schema.org/Photograph Class for photographs. We would have to implement more complicated code in the beng-lod-server though, which is less opportune.

But, on

[2021-08-20 16:03] wmelder commented on #134
@mwigham Indeed it seems that the types are already taken care of. My assumption was that we needed to add the scene descriptions as part of the programs in the LOD. But, apparently it works the other way around in the LOD server as scene descriptions seem to trigger addition of a hasPart property with the parent. But still the scene description needs to be captured using the ID. The relation to i

[2021-09-01 11:08] mwigham commented on #55
@wmelder Do you think we are likely to use OAI-PMH at some point?

[2021-09-01 13:54] wmelder commented on #55
@mwigham I cannot foresee things completely.

Currently, for the NISV collection we are using a combination of:
a) beng-lod-server wrapped around the Flexdatastore Direct Metadata API
b) lod-importer, to get a list of identifiers using the aggregated index that is connected to the flexDatastore backbone
c) docker-cliopatria, to load the saved triples and provide a sparql endpoint.

More info [here

[2021-09-02 05:12] mwigham commented on #55
Thanks @wmelder. I'll close this issue now as I think we will probably have a different set of circumstances by the time we look at making this decision again, so we should evaluate again at that point (referring of course to what we learned in this issue :) )

[2021-09-02 05:12] #55 closed

[2021-09-02 07:53] wmelder commented on #134
@mwigham One thing we need to check is this:
```But, on the other hand a generic Class like CreativeWork does fit all, and thereby makes it easier for us. The only thing is that partOfSeries, etc. aren't properties we can use then for programs. We can use the properties isPartOf/hasPart, which are also a bit more generic.```
So, we haven't changed these properties and we need to check whether it w

[2021-09-02 14:21] wmelder opened #136 "Task: Experiment with Comunica as query interface for heritage professionals"
Provide an interface to the SPARQL endpoint using [Comunica](http://query.linkeddatafragments.org/)

[2021-09-07 07:43] mwigham commented on #128
Agreed in ODL grooming to check a set of data and see if it's possible to link at scene description level

[2021-09-09 10:59] wmelder commented on #136
Preparing the example queries Mari used for testing in a /sparql endpoint (needs to be migrated to other location later.
Need to prevent the examples to be loaded multiple times though. And Javascript is kind of not cooperative :-P

[2021-09-09 13:50] wmelder commented on #136
@mwigham your example test queries are now live on the beng-lod-server /yasgui.
By mistake, I had checked out out master instead of develop branch #136, so the changes are already pushed to master.
Could you have a look at it? And just do some monkey testing ;-)

[2021-09-09 13:53] wmelder commented on #136
deployed on:
http://data.rdlabs.beeldengeluid.nl/yasgui/

[2021-09-09 14:41] mwigham commented on #136
Fantastic!

It works very well. Just three points:
- the query now called 'Programma's voor een persoon' is actually to get
related persons to a person (via a programme). It is still an interesting
example query to have. I think it would be nice to also have the query that
really does get programmes for a person
- We use https for our schema URIs, but the interface fills in http for the
schema pre

[2021-09-09 14:59] wmelder commented on #136
Could you explain a bit?
[code]
For your information: there is only DAAN data in schema.org mapping in the server.

[2021-09-10 06:24] mwigham commented on #136
Our URIs start with https://schema.org.  If you type in a query, e.g. SELECT ?s WHERE {?s a schema:CreativeWork}, then the editor automatically adds the schema prefix above the query. However, it adds it as http://schema.org. So the query doesn't match, as it looks for http://schema.org/CreativeWork when the data actually contains https://schema.org/CreativeWork.;

[2021-09-10 08:26] wmelder commented on #136
I still don't really understand. This is the prefix I see:
[code]
So, 'https' will be the used to replace the schema: prefix.
It is not OK that the editor adds it as 'http', which we might have to configure then. But, when the editor inserts it automatically, just replace that and you will be fine. Of course, you are right, we don't want heritage users of our data to be bothered with problems like

[2021-09-10 08:28] wmelder commented on #136
[code]
We can build a list of example queries that are useful. There is a JSON resource file that contains the queries. If we edit that and push it to master, the new queries shall be shown.

[2021-09-10 08:30] mwigham commented on #136
Ah, I see, it's remembered the value I changed it to in order to be able to
test. So that's why you see the correct value. But if you type in the query
yourself without prefixes, then the editor fills it in and it doesn't
match. As you say, you can then change it, but most users won't realise
that that is the problem.

Op vr 10 sep. 2021 om 10:26 schreef Willem Melder ***@***.***

[2021-09-10 09:37] wmelder commented on #136
I added an issue with a question how to change that default behaviour...

mmm... er gaat iets vreselijk fout, want ik zie allemaal NISV properties i.p.v schema.org properties

[2021-09-10 09:38] wmelder commented on #136
ah wacht... dat is misschien omdat de default op de beng-lod-server nog steeds NISV schema is... tijd om daat te gaan veranderen...
als je doorklikt op een item krijg je dat te zien die niet in de triple store zit... heeeeel verwarrend...

[2021-09-10 09:43] wmelder commented on #136
Nu lijkt dit wel te werken... alle titels van programma's voor een persoon (moet je wel de pref label waarde weten)
[code]

[2021-09-10 13:52] wmelder commented on #136
I got a reply from the yasgui guys:
[code]

What is needed is to use the sdo: prefix. I added this to the server prefixes. When you use this prefix now in yasgui, it automatically inserts the right namespace.

[2021-09-10 15:01] wmelder commented on #136
The queries op de server zijn aangepast. Alles is nu sdo: namespace.

[2021-09-10 15:51] wmelder commented on #136
Ook de default ontology/schema is aangepast in settings. Als je nu een link volgt (bijv. vanuit yasr) krijg je automatisch schema.org formatted data.

[2021-09-13 08:01] wmelder commented on #136
Unfortunately, autocompletion is not working for sdo: This has to do with the fact that yasgui uses [LOV ](https://lov.linkeddata.es/dataset/lov) for the autocompletion and for some reason LOV doesn't have https://schema.org/ yet.

[2021-09-13 08:40] wmelder commented on #134
@mwigham  One thing that is not so strong in making the solution generic, is that you can now only indirectly derive the type of the catalogue item. And you need to have inside information on the data model.

Maybe a way out is to add an additionalType indicating that a program is not only a sdo:CreativeWork, but also a nisv:Program? Or..?

[2021-09-13 12:23] wmelder commented on #134
Inverse hierarchical logtrackitems relations are yet not available, e.g.:
[code]
Do we need a SPARQL update query to fix that?

[code]

[2021-09-13 13:45] wmelder commented on #119
ES field ```payload.nisv.licensecondition. ```
has only text field (no aggregation possible)
[code]
Cannot do:
[code]

[2021-09-13 13:48] wmelder commented on #119
De precook velden zijn niet aanwezig in flexstore:
[code]

[2021-09-13 13:58] wmelder commented on #119
#hitspayload.nisv.licensecondition.resolved_value":
CC-BY OR 1
CC-BY-NC 1
CC-BY-NC-ND 1
CC-BY-NC-SA 1
CC-BY-ND 1
CC-BY-SA 1

Such a mess...

[2021-09-13 14:07] wmelder commented on #119
Maybe more succes in using this:
[code]

[2021-09-13 14:14] wmelder commented on #119
#hits
"payload.nisv.ipr.nisv.releasedlicense.resolved_value":

CC-BY 44
CC-BY-NC 44
CC-BY-NC-ND 44
CC-BY-NC-SA 44
CC-BY-ND 44
"CC-BY-SA" 44

Is blijkbaar allemaal 'Verhalen uit 't hart' content...

[2021-09-13 14:39] wmelder commented on #119
term query werkt gewoon niet in flex store... wat een bagger...

[2021-09-14 06:36] mwigham commented on #134
@wmelder I agree it would be nicer to be specific about the types of items, but that requires a lot more intelligence in the code to correctly recognise those types. I think it is better to start for now with the generic solution, and then we can always add more specific later. As you suggest, we could do this nicely with additionalType without needing to change the basic model.

What is the benef

[2021-09-14 07:36] wmelder commented on #134
[code]

It might be easier to discover relations if the inverse relation is there, otherwise the user would have to find out it is missing and prepare the right query.
For example, using SPARQL I tried to get all scene_descriptions that have isPartOf with particular program and got zero results. From the code I understood that the triple program_id hasPart scene_description_id was added to the sce

[2021-09-14 08:30] wmelder commented on #119
mmm dit levert miks op...
[code]
dit levert wel wat op...
[code]

[2021-09-14 10:53] wmelder commented on #119
Duplicate of https://github.com/beeldengeluid/beng-lod-server/issues/68

[2021-09-14 10:59] wmelder commented on #119
[This ](https://docs.google.com/spreadsheets/d/1WnAo1r6UvslCKgpbHaAQZ6lpHL6uiTxcfWLGGI88km0/edit?usp=sharing) is the spreadsheet containing assessment for all fields:

[2021-09-14 11:27] wmelder commented on #119
This gives a result:
[code]

[2021-09-14 11:35] wmelder commented on #119
Ok, so you just need to give a match query like this:
[code]

[2021-09-14 11:39] wmelder commented on #119
back to the initial fields:
[code]
29 results

[2021-09-14 11:40] wmelder commented on #119
[code]
72 results

[2021-09-14 11:45] wmelder commented on #119
alle text wordt geparsed, dus CC-0 levert ook 72 hits op.

deze geeft 0
[code]

[2021-09-15 07:54] #114 closed

[2021-09-15 12:38] wmelder opened #137 "task: provide visual feedback on item's license"
TODO:
- display the icon next to the item's URI,
- or make it part of the metadata?
- extend the yasgui yasr UI to display the rights symbol.
See unicode characters below...

![image](https://user-images.githubusercontent.com/1220375/133434501-87edf76d-d17e-41eb-90bd-26d3df241d1e.png)

[2021-09-15 12:40] wmelder commented on #119
#137 https://github.com/beeldengeluid/beng-lod-server/issues/137

[2021-09-15 12:46] wmelder commented on #119
- [ ] Consider filling additional fields, like with the property [usageInfo](https://schema.org/usageInfo):

![image](https://user-images.githubusercontent.com/1220375/133435803-dcc64c58-b02c-4cad-847b-0e4db00d59bc.png)

[2021-09-16 13:56] wmelder commented on #119
Trying to document stuff I learned in [this doc](https://docs.google.com/document/d/1dHn5CHI3yDb2ULjSzIvL6UbCCagXAnhs-LebYxWAzZ4/edit?usp=sharing)

[2021-09-21 15:40] wmelder opened #138 "task: check for forbidden id's in beng-lod server"
vraagje: hoe zat het ook al weer met de data in de flex store: waren het alleen GPP records (en dus ook die in de MediaSuite zitten)? Of waren er nog meer records beschikbaar en werd er via de pusher gefilterd ?

de beng-lod-server is nu als wrapper om de direct metadata/storage API heen gebouwd: alle records die in de flex store zitten (seasons, series, programs en scene descriptions) kunnen in p

[2021-09-22 07:13] wmelder commented on #138
Danny's reply:

In flex-datastore zit alle metadata uit daan, de pusher filtert het. De storage API filtert verder niet op ACL. Je zou via de storage API door alle programma's kunnen pagineren, maar daar is het eigenlijk niet voor bedoeld; het kan nogal wat load veroorzaken. Dat is iets wat we liever via de OAI-MH doen (omdat we dat makkelijker kunnen throttlen als dat nodig is). Maar die laatste

[2021-09-22 07:45] wmelder opened #139 "As open data lab developer I need to prevent that restricted access records are published."
To avoid serving resources that are not allowed public access, implement a check for permission.

The beng-lod server is a LOD wrapper around the DAAN data flex store. Currently, it simply fires a request to the backend and transforms the JSON payload to RDF, without restrictions.

The data flex store provides access to ALL DAAN records, also the records that are not allowed for GPP.

The OAI-PMH

[2021-09-22 07:48] wmelder commented on #139
raised because of the outcome of this issue: https://github.com/beeldengeluid/beng-lod-server/issues/138

[2021-09-22 08:07] wmelder commented on #138
https://github.com/beeldengeluid/lod-importer/issues/22

[2021-09-28 09:26] wmelder commented on #116
@mwigham
The triple store listed above currently has data for all catalogue types (incl. scene_descriptions) in SDO format. This can be updated periodically or when some additional data feature becomes available. When it needs to get a MediaSuite production status, it means I need to spawn a new container for testing. Thus, we might also prepare a dedicated MediaSuite production triple store. But

[2021-09-28 13:26] mwigham commented on #116
For production we need the DAAN data and the person graph triple store. We had kept them separate to keep the person graph lightweight. The queries are currently specific per graph so there is no effect on querying.

[2021-09-28 15:58] wmelder commented on #116
Does the Media Suite need the descriptions and summaries as well? Or, do we need the download the data in the NISV profile or SDO profile?

[2021-09-29 06:53] mwigham commented on #116
At present we only use the program links with persons and their roles. The query works with the nisv profile, but it should be easy enough to convert it to sdo if that's better.

[2021-09-29 06:53] jblom commented on #116
So far we don't really have a tool or functionality for using the DAAN LOD (we only require the entity graphs for autocomplete & entity search, etc). Until we e.g. start rebuilding an LD explore tool, we should be fine without the descriptions & summaries?

[2021-09-29 06:58] mwigham commented on #116
Yes. But don't forget that it's not just the person graph, we also need the links between programmes and persons. Otherwise the nice list in the Resource Viewer disappears ;)

Just for completeness, the autocomplete doesn't use the LOD. It uses our copy of the GTAA in the Elastic Search cluster. In the future we will possibly switch to the new thesaurus layer the A team is working on.

[2021-09-29 07:09] jblom commented on #116
check @mwigham ah yes the links, which could/should be stored in a separate graph as well? (e.g. graph1 = DAAN; graph2 = person data; graph3=links between the two) In this case you would need to query across graphs.

I guess now you store the links to DAAN in the person graph? (which is fine for now as well, just curious about how you set it up right now)

[2021-09-29 07:17] mwigham commented on #116
At present we have one iMMix graph (yes, iMMix still!) with the programme
metadata, and one with the person information. Both are hosted on Zorin. We
only use two queries:
- retrieve all information about a person from the person graph (for the
person pop-up, does NOT include information about the programmes they
appear in)
- retrieve the persons linked to a programme (or its series/season/scene
d

[2021-09-29 07:20] jblom commented on #116
@mwigham thanks for the overview. I  am really for a WM, MW, JB whiteboard session. No rush, but I got the itch :p

[2021-09-29 07:26] mwigham commented on #116
I'm in :)

[2021-09-29 08:04] wmelder commented on #116
Currently, the Media Suite then probably uses [this store ](http://zorin.beeldengeluid.nl:3020/home) for the iMMix linked data. [This server](http://zorin.beeldengeluid.nl:3023/home) contains the DAAN SDO linked data and is used by the example UI. It should contain the links between persons and programs and roles. We can make this a dedicated MediaSuite production server, if you all agree.

At the

[2021-09-30 12:30] mwigham commented on #127
closing this as the data has been shared with the project

[2021-09-30 12:30] #127 closed

[2021-10-05 07:37] mwigham opened #140 "As an ODL user, I want to see the field materialType, so I can filter on its value"

[2021-10-05 12:37] wmelder commented on #136
- [ ] add the sparql endpoint in the settings.py. pass a parameter with the value to the UI, instead of hardcoded URL

[2021-10-05 12:42] wmelder opened #141 "Aas developer I need to provide the right settings for the versions of rdflib and rdflib-jsonld"
fix thisThis `rdflib <https://pypi.org/project/rdflib/>`_ plugin is deprecated for, as of the 2021-09-17 release of rdflib 6.0.1, JSON-LD handing has been integrated. All functionality in this package has been removed, as of release 0.6.2.

This plugin is now ‘tombstoned’ meaning this - 0.6.2 - is a final release and all users of Python > 3.6 are encouraged to move to rdflib > 6.0.1.

If you are f

[2021-10-06 09:45] wmelder commented on #141
Er is een python probleem ontstaan voor de beng-lod-server. Zie deze tekst `

[code]

In de Github actions ontstaat een test probleem omdat daar Python 3.8 gebruikt wordt en er geen 2to3 meer wordt geaccepteerd. RHEL heeft tot rdflib 5.0.0. Ik probeer dus de Pipfile aan te passen zodat het naar de server kan met rdflib 5.0.0 en rdflib-jsonld 0.5.0. Beide packages zijn essentieel. Behalve wanneer r

[2021-10-06 14:24] wmelder opened #142 "make the SPARQL endpoint link in example UI a parameter"
- [ ]  add the sparql endpoint in the settings.py. pass a parameter with the value to the UI, instead of hardcoded URL

[2021-10-06 14:45] #134 closed

[2021-10-13 11:16] wmelder commented on #141
@frankstrater Ah, nu zie ik het. Ik stel een vraag gericht aan Jaap/Martijn voor wat betreft de server inrichting: ```Wat kunnen we doen?``` Volgende keer zet ik in het comment degene aan wie de vraag is gericht. Beantwoord dat jouw vraag?

[2021-10-14 14:35] #141 closed

[2021-10-14 14:35] #138 closed

[2021-10-15 09:38] #142 closed

[2021-10-15 09:41] wmelder opened #144 "Remove the SPARQL UI from the beng-lod-server"
- [ ] remove the sparql UI code (mainly a couple of HTML templates) from the beng-lod repo.
- [ ] Make sure the example UI is deployed somewhere else (either using yasgui or Comunica) (@phivk )

[2021-10-25 09:17] wmelder opened #146 "Either list the correct DAAN landing page URL for logtrackitems or omit"
The DAAN landing page is not correct:
`https://zoeken.beeldengeluid.nl/logtrackitem/urn:vme:default:logtrackitem:2101703040124188824`
but I will create another issue for this: fix the landing page: either construct the right one, or omit the url if it can't be constructued)

If I search for the item title in DAAN, this is the landing page:
`https://zoeken.beeldengeluid.nl/program/urn:vme:default:p

[2021-10-26 07:44] mwigham opened #147 "As an ODL user, I would like to see the language indication for a program"
This is stored in program.language. After discussion with Dimitra we have decided that this is not essential, but can be useful information for external users. The value is 'nederlands' for 99% of the programmes for which language is indicated (18% of the whole archive has a language indication)

[2021-10-27 14:34] wmelder opened #148 "Add link to openbeelden item in MediaObject"
Small extension of #128

- [x] the cc:attributionURL can be put in mainEntityOfPage for the sdo:Clip (not in the MediaObject).

[2021-11-01 09:15] wmelder opened #149 "Deploy a Comunica frontend that provides example SPARQL queries for the the catalogue"
- [x] Deploy a Comunica frontend instance {somewhere}
repo: https://github.com/beeldengeluid/comunica-web-client
web client: https://comunica-web-client.vercel.app/
- [x] Make sure example queries are loaded {see [here](https://github.com/beeldengeluid/beng-lod-server/blob/master/resource/example_queries.json)}
- [x] COnfigure it for the sparql endpoint [here](http://54.217.179.144/)
- [x] Test NI

[2021-11-01 14:51] phivk commented on #149
Thanks @wmelder, I previously made these issues as part of the [web client repo](https://github.com/beeldengeluid/comunica-web-client/)

- https://github.com/beeldengeluid/comunica-web-client/issues/1
- https://github.com/beeldengeluid/comunica-web-client/issues/2

I will keep both these issues in sync :)

[2021-11-01 15:00] wmelder opened #150 "Replace LOGTRACKITEM resources with SCENE"
De lod server heeft nu de resource /id/logtrackitem/{daan_id}. Ik vind dat eigenlijk heel lelijk en verwarrend.
Wijzigen naar: /id/scene/{daan_id}? 'scene' omdat het scene descriptions betreft en omdat dat iets begrijpelijker is dan 'logtrackitem' en korter.

Mari is akkoord.

[2021-11-03 13:06] mwigham opened #154 "Task: Ensure tests work under both unix and windows"
There are issues with the newer versions of python/rdflib that means tests that work under unix fail under windows and vice versa. We need to look into this and get the tests working for both systems.

E.g. https://githubmemory.com/repo/RDFLib/rdflib/issues/1430

If necessary we can write separate tests using the pytest skipif functionality, but it would be better to get one set that works for bot

[2021-11-03 13:19] jblom commented on #154
@mwigham ok so you both use python3.8 and it still fails under windows?

[2021-11-03 13:31] mwigham commented on #154
that's correct

Op wo 3 nov. 2021 om 14:19 schreef Jaap Blom ***@***.***>:

[2021-11-09 11:07] wmelder commented on #154
@mari I thought that the issue #1430 was fixed. Anyway, I just pushed new test that should work on both OS'es. Will ask you for a review in PR.

[2021-11-10 11:33] #150 closed

[2021-11-10 11:34] #146 closed

[2021-11-10 12:35] wmelder opened #156 "As data engineer I need to be able to download the LOD resources without authentication"
When downloading the catalogue linked data for the triple store, we want quick access, without verification. On the web, we need to filter the requests done to the beng-lod server, to make sure we only respond with data to requests for a publicly available item.

Using the OAI-PMH provider or the Media Suite index, we only fire requests for public resources to the LOD server. But, the beng-lod ser

[2021-11-11 15:08] phivk commented on #144
todo 2 in progress here:
https://github.com/beeldengeluid/beng-lod-server/issues/149

[2021-11-12 09:51] wmelder commented on #156
this has been implemented.

[2021-11-12 09:51] #156 closed

[2021-11-12 09:54] wmelder commented on #139
basic auth was added for the beng-lod server. only the lod-importer is currently able to bypass the public access check. There is one catch: the triple store currently doesn't have the latest resources available. we need one more lod-importer run without the permission check.
I think we need to configure that only requests coming from lod-importer are valid.

[2021-11-12 10:18] wmelder commented on #139
temporarily enable a strict check for lod-importer client to get access to beng-lod resources

[2021-11-12 10:18] #139 closed

[2021-11-15 11:55] #148 closed

[2021-11-17 16:52] phivk commented on #149
I've now closed these issues as part of the [web client repo](https://github.com/beeldengeluid/comunica-web-client/):

- https://github.com/beeldengeluid/comunica-web-client/issues/1
- https://github.com/beeldengeluid/comunica-web-client/issues/2

see the results at:
https://comunica-web-client.vercel.app/

NB: endpoint at http://54.217.179.144/sparql is currently not working. Example queries shou

[2021-11-18 13:16] wmelder commented on #149
Martijn heeft het geregeld: https://cat.apis.beeldengeluid.nl/sparql
Willem Melder: met als bijeffect dat de redirect naar yasgui niet meer kan... :thumbsup: dus wel sparql endpoint, maar ook alleen dat...

[2021-11-18 13:18] wmelder commented on #149
* de namen van de queries prefixen met “NISV ” zodat ze bij elkaar gesorteerd staan

* queries verwijderen (kan jij ook, in de queries folder)
* endpoints verwijderen (kan jij ook, in settings.json)

* kijken of het mogelijk is om NISV als default data source in te stellen, zodat die aan het begin wordt geladen

[2021-11-22 13:17] wmelder commented on #140
closing this. is duplicate of issue https://github.com/beeldengeluid/beng-lod-server/issues/120

[2021-11-22 13:17] #140 closed

[2021-11-24 13:01] wmelder commented on #149
Voor wat betreft dit punt ```Compare a bit with the yasgui (Willem)```:

a) Comunica heeft een dropdown voor queries <-> yasgui meerdere tabbladen
b) Zowel comunica als Yasgui checken de query syntax (zelfde?)
c) Yasgui vult namespaces en properties aan met autcomplete properties van prefix.cc.
d) in Yasgui URI's in query results zijn clickable (comunica niet)
e) yasgui heeft results in grid view,

[2021-11-25 15:10] phivk commented on #149
@wmelder hoe belangrijk weeg jij de verschillen tussen Comunica en Yasgui?

Ik heb tot nu toe alleen Comunica gebruikt. Ik denk dat ik veel ga hebben aan de GraphQL-LD support wanneer ik dat zou gebruiken voor de integratie van de datasets...

[2021-11-25 15:37] wmelder commented on #149
ik vind de results van yasgui handiger, maar comunica heeft weer graphQL-LD. Verder heeft yasgui property lookup in prefix.cc, wat een pré is. Gezien het feit dat jij vertrouwd bent met Comuica gaan we daarvoor

[2021-11-25 15:38] #149 closed

[2021-12-08 11:16] #120 closed

[2021-12-08 11:17] wmelder commented on #90
eigenlijk te groot voor issue... is meer epic

[2021-12-08 11:26] wmelder commented on #14
I guess this can be closed.
What we have right now is:
- identifiers for SKOS Concept and SKOS COnceptScheme
-- http://data.beeldengeluid.nl/gtaa/{{ concept_notation|conceptScheme_name }}

* identifiers for dataset, datacatalog and datadownload
-- http://data.beeldengeluid.nl/id/{{ dataset|datacatalog|datadownload }}/{{ daan_id }}

* identifiers for cat items
-- http://data.beeldengeluid.nl/id/{{

[2021-12-08 11:28] wmelder commented on #5
I think this can be closed.

We mapped to schema.org. Whenever we need to we can map to any other model, using the beng-lod-server solution.

for now, there is no need to map to other schemas. We can do this whenever a proper use case presents itself.

[2021-12-08 11:28] #5 closed

[2021-12-08 11:32] wmelder commented on #2
@jblom Do we need to keep this issue? I think we provide now a SPARQL endpoint that could be used by Clariah, or when we need an endpoint containing ALL NISV data, we would have to work on an endpoint providing ALL properties, but this would probably also have to be done using the NISV internal ontology.

[2021-12-08 13:36] wmelder commented on #20
I guess we can provide example queries that aggregate the data. Then the users can change these queries to their use case.

[2021-12-08 13:41] wmelder opened #163 "Task: enable the triple store lookup for resources."
- [x] Change a small piece of code, that enables users to view the open data at the URI.
- [x] Make sure the lod-importer is still able to get ALL resources.

[2021-12-08 14:32] wmelder commented on #163
- [ ] since there is a dependency between de sparql endpoint and the beng-lod-server we are vulnerable here. find out whether it is opportune to use the OAI-PMH instead...

[2021-12-08 14:39] wmelder commented on #154
Jaap wrote a new way of handling relative paths. There was a small bug with that, that is fixed in the latest PR merge to master...
Please try if that works for you on windows ...

[2021-12-08 16:39] phivk commented on #144
technisch gezien is dat niet helemaal waar, want vanaf die URL is er een redirect naar https://comunica-web-client.vercel.app/

Ik kan leven met een redirect (hoewel ik de pagina die je een paar seconden te zien krijgt verwarrend en lelijk vind).

Ik zou de Comunica Web Client graag onderbrengen op een eigen domein.
Zou het mogelijk zijn om dit te doen op bv:
- https://cat.apis.beeldengeluid.nl/co

[2021-12-09 11:33] wmelder opened #164 "Task: move the dataset importer from beng-lod-server to beng-dataset-importer repository"
- [x] beng-lod-server will expect a data catalog file, otherwise error.
- [x] code to generate data catalog turtle is transfered to [beng-dataset-importer](https://github.com/beeldengeluid/beng-dataset-importer)
- [x] code datasheetimporter is removed from repo
- [x] remove spreadsheet setting& credentials
- [x] notify devops

[2021-12-09 14:56] wmelder commented on #147
this property of CreativeWorkcan be used to register this information ```https://schema.org/inLanguage```
What to do with the 72% of the archive that hasn't got a language indication?

[2021-12-09 15:35] wmelder opened #165 "Task: make sure the items get an HTTP 200 response"
The HTTP proxy redirects the requests from http to https and to the AWS backend. But this is intended, because we just store the resources on a different location doesn't mean the external world needs to receiven HTTP 302.

- [ ] Fix the HTTP proxy config for the data.beeldengeluid.nl domain

[2021-12-10 12:13] wmelder commented on #164
alles draait.. commit geverifieerd door martijn

[2021-12-10 12:13] #164 closed

[2021-12-10 12:29] mwigham commented on #147
I don't think there's much we can do. The presence of ASR would indicate at least some NL content, but says nothing about other languages. Perhaps something to save for if we look at detecting languages for ASR at some point?

[2021-12-10 13:55] #163 closed

[2021-12-10 14:23] wmelder commented on #165
curl -v 'http://data.beeldengeluid.nl/id/program/2101608120098873731'   -H 'accept: application/json'
-v geeft de hele HTTP response header

PROXY SETTINGS:
interne proxies : https://github.com/beeldengeluid/x-omgeving/tree/master/ansible/files/proxy/tst
externe : https://github.com/beeldengeluid/x-omgeving/tree/master/ansible/files/proxy/prd

TO TRY:
RewriteEngine On
RewriteCond %{HTTPS} off
Rewr